@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url(../fonts/Pretendard-Regular.woff2) format('woff2'), url(../fonts/Pretendard-Regular.woff) format('woff');
    }         
@font-face {
        font-family: 'Pretendard';
        font-weight: 800;
        font-display: swap;
        src: local('Pretendard ExtraBold'), url(../fonts/Pretendard-ExtraBold.woff2) format('woff2'), url(../fonts/Pretendard-ExtraBold.woff) format('woff');
    }
body {
    font-family: 'Pretendard', sans-serif;
    font-size: 15px; 
    color: #3d3d3d;
    font-weight: 400;
    line-height: 1.5; 
    word-break: keep-all;
}
.wrapper { 
    width: 1280px;
    margin: 0 auto;
}
#wrap {
    min-width: 1280px;  
}
* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul, ol, li {
    list-style: none;
}
a { 
    text-decoration: none;
    color: inherit; 
}
.visual h1 {
    font-size: 30px;
    color: #1d1d1d;
    font-weight: 800;
    margin: 60px 0 20px 0;
}
.visual strong {
    font-size: 20px;
    color: #07B53B;
    font-weight: 800;
}
.visual p {
    margin: 10px 0 0 0;
}
.visual .btn_wrap {
    display: flex;
}
.visual .btn_wrap a {
    border: 1px solid #666666;
    padding: 8px 42px 8px 42px;
    display: inline-block;
    margin: 20px 5px 0 0;
}
.visual .btn_wrap .download a {
    color: #07B53B;
    border: 1px solid #07B53B;
}
.visual img {
    margin: 40px 0 0 0;
}

.biz {
    height: 598px;
    background: url(../images/biz_bg.png) center center no-repeat;
    color: #ffffff;
    margin: 70px 0 0 0;
    text-align: center;
}
.biz h1 {
    font-size: 30px;
    padding: 60px 0 0 0;
}
.biz p {
    margin: 20px 0 0 0;
}
.biz a {
    border: 1px solid #ffffff;
    padding: 8px 42px 8px 42px;
    display: inline-block;
    margin: 24px 0 40px 0;
}