@charset "utf-8"; /* 이 css문서는 UTF-8방식으로 인코딩되어 있습니다. */
@import url(default.css);
/* 한글 웹폰트 */
@font-face { 
    font-family:'S-CoreDream'; 
    src:url('../fonts/SCoreDreamRegular.woff') format('woff'); 
    font-weight:400; 
    font-style:normal; 
}
@font-face { 
    font-family:'S-CoreDream'; 
    src:url('../fonts/SCoreDreamRegular.woff2') format('woff2'); 
    font-weight:400; 
    font-style:normal; 
}
@font-face { 
    font-family:'S-CoreDream'; 
    src:url('../fonts/SCoreDreamExtraBold.woff') format('woff'); 
    font-weight:700; 
    font-style:normal; 
}
@font-face { 
    font-family:'S-CoreDream'; 
    src:url('../fonts/SCoreDreamExtraBold.woff2') format('woff2'); 
    font-weight:700; 
    font-style:normal; 
}
/* 영문 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

*::selection{
    background-color: #3d3d3d;
    color: #fff;
}
*::-moz-selection { /* 호환성을 위한 코드 */
    background-color: #3d3d3d;
    color: #fff;
}
/*
    영문, 숫자는 영문 폰트를 사용하고 한글만 한국어 폰트를 사용하고 싶을때 
    (단, 영문 폰트로 선택한 폰트는 한국어가 지원되는 폰트면 안됨)
    둘 다 폰트파일을 불러오고 (import, font-face)
    body에서 폰트를 정의할때 맨 먼저 무조건 영문폰트를 먼저 선언
    영어, 숫자만 영문폰트가 적용되고 한글은 지원되지 않기 때문에 다음에 선언된 한글폰트가 적용됨
    앞에 폰트가 지원안되면 다음폰트, 다음폰트 순서대로 적용
*/
html, body {
    font-family: 'Arimo','S-CoreDream', sans-serif; /* 서체 serif 명조 sans-serif 고딕 */
    font-size: 15px; 
    color: #001000;
    font-weight: 400;
    line-height: 1.2; 
    word-break: keep-all;
    word-wrap: break-word; /* 만약 단어가 엄청 길면 분리해서 줄바꿈 */
}
.wrapper { /* 홈페이지 넓이를 제한하고 가운데 정렬 */
    width: 1280px;
    margin: 0 auto; /* 가운데 정렬 */
}

/* wrapper의 사이즈 1280 + 40px (좌우여백) = 1320 */
@media screen and (max-width:1320px){
    .wrapper { 
        width: auto;
        /* 모바일에서는 홈페이지의 넓이를 제한하면 안됨
            디바이스의 넓이에 맞춰서 꽉차게 나와야 하기 때문에
            그 안쪽으로 좌우 여백이 20px씩 들어가게 함.  */
        margin: 0 20px; 
    }
}/*media*/
@media screen and (max-width:768px){
    html, body {
        font-size: 13px; 
    }
}/*media*/

.skipnav {
    position: absolute;
    left: 0;
    top: -100px;
    z-index: 10000000000;
    width: 100%;
}
.skipnav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    line-height: 50px;
    text-align: center;
    background-color: #0AB6C1;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
}
/* 속성선택자
a태그중에서 href="gnb"인 a태그의 스타일 */
.skipnav a[href="#gnb"] {
    background-color: #BE0AC1;
}
.skipnav a:focus {
    top: 100px;
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* 왼쪽에 로고, 오른쪽에 검색/바로가기, 가운데 메뉴 배치
        왼쪽과 오른쪽의 사이즈가 비슷해야 메뉴가 가운데로 감 */
}
.header .logo {
    margin: 30px 0 0 40px;
    font-size: 0;
    line-height: 0;
}
.header .logo a {
    width: 181px;
    height: 41px;
    display: block;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
}
.header .gnb .gnb_open,
.header .gnb .gnb_close {
    display: none;
}
.header .gnb ul.depth1 {
    display: flex;
}
.header .gnb ul.depth1 > li {
    position: relative; /* .depth2 정렬의 기준 */
}
.header .gnb ul.depth1 > li > a {
    padding: 0 44px;
    line-height: 100px;
    display: block;
    font-size: 22px;
    position: relative; /* after 정렬의 기준 */
}
/* has 선택자
    1차 메뉴중에서 2차 메뉴를 가지고 있는 li가 있고
    2차 메뉴가 없는 li가 있음
    이 때, 2차 메뉴를 가지고 있는 li만 선택해서 a태그에 스타일을 줄 예정
    -> li:has(.depth2) 라고 선언하면 li의 하위 요소중에서 depth2라는 클래스명을 갖은
        li에만 스타일이 적용됨 
        ---단, 주의사항> 2023년에 새로 생김(브라우저 업데이트 안된 곳에서는 적용 안됨) */
.header .gnb ul.depth1 > li:has(.depth2) > a::after {
    position: absolute;
    right: 20px;
    top: calc(50% - 2px);
    width: 23px;
    height: 8px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='7.169' viewBox='0 0 12 7.169'%3E%3Cpath id='expand_more_FILL0_wght500_GRAD0_opsz24' d='M257.5-622.57a1.262,1.262,0,0,1-.45-.081,1.1,1.1,0,0,1-.392-.258l-4.825-4.825a1.133,1.133,0,0,1-.333-.836,1.133,1.133,0,0,1,.333-.836,1.133,1.133,0,0,1,.836-.333,1.133,1.133,0,0,1,.836.333l4,4,4-4a1.133,1.133,0,0,1,.836-.333,1.133,1.133,0,0,1,.836.333,1.133,1.133,0,0,1,.333.836,1.133,1.133,0,0,1-.333.836l-4.825,4.825a1.1,1.1,0,0,1-.392.258A1.262,1.262,0,0,1,257.5-622.57Z' transform='translate(-251.5 629.739)' fill='rgba(255,255,255,0.8)'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    content: "";
}  
.header .gnb ul.depth2 {
    display: none;
    position: absolute;
    left: 50%;
    top: 100px; /* a태그의 높이와 동일 */
    transform: translate(-50%, 0); /* 나의 넓이의 절반을 왼쪽으로 이동 */
    padding: 22px 24px 14px 24px;
    /* 2차메뉴가 absolute라면 하위메뉴로 이동할때 메뉴가 아웃되는 경우가 있음
        이 문제를 해결하려면 반드시 2차메뉴가 1차메뉴 a와 딱 붙어있어야함. (그 사이에 틈이 있으면 안됨)
        필요한 여백 padding으로 처리 (margin 절대 안됨) 
        만약 background가 필요하면 before로 처리 */
}
.header .gnb ul.depth2::before {
    position: absolute;
    left: 0;
    top: 8px; /* a와의 여백 */
    z-index: -1;
    width: 100%;
    height: calc(100% - 8px);
    content: "";
    border-radius: 10px;
    backdrop-filter: blur(20px) brightness(90%); /* brightness 100% 기본, 밝게 100% 이상/ 어둡게 100% 이하 */
}
.header .gnb ul.depth2 > li > a {
    display: block;
    white-space: nowrap;
    font-size: 17px;
    line-height: 40px;
}
.header .gnb ul.depth2 > li > a:hover {
    font-weight: 700;
    color: #4CAA49;
}
/* li에 마우스를 올리면 jquery에서 해당 li에 sub_over 클래스 추가 예정 */
.header.menu_over::before {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
    backdrop-filter: blur(20px) brightness(90%); 
    /* brightness 100% 기본, 밝게 100% 이상/ 어둡게 100% 이하 */
}
.header .gnb ul.depth1 > li.sub_over > a {
    color: #4CAA49;
    font-weight: 700;
}
.header .gnb ul.depth1 > li.sub_over > a::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='7.169' viewBox='0 0 12 7.169'%3E%3Cpath id='expand_more_FILL0_wght500_GRAD0_opsz24' d='M257.5-622.57a1.262,1.262,0,0,1-.45-.081,1.1,1.1,0,0,1-.392-.258l-4.825-4.825a1.133,1.133,0,0,1-.333-.836,1.133,1.133,0,0,1,.333-.836,1.133,1.133,0,0,1,.836-.333,1.133,1.133,0,0,1,.836.333l4,4,4-4a1.133,1.133,0,0,1,.836-.333,1.133,1.133,0,0,1,.836.333,1.133,1.133,0,0,1,.333.836,1.133,1.133,0,0,1-.333.836l-4.825,4.825a1.1,1.1,0,0,1-.392.258A1.262,1.262,0,0,1,257.5-622.57Z' transform='translate(263.5 -622.57) rotate(180)' fill='%234caa49'/%3E%3C/svg%3E%0A");
}
.header .gnb ul.depth1 > li.sub_over > .depth2 {
    display: block;
}
.header .tnb {
    display: flex;
    margin: 40px 40px ;
    font-size: 17px;
}
.header .tnb .search {
    position: relative; /* before정렬의 기준 */
    padding-left: 21px;
} 
.header .tnb .search::before {
    position: absolute;
    left: 0;
    top: 2px;
    width: 16px;
    height: 16px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15.911' height='15.905' viewBox='0 0 15.911 15.905'%3E%3Cpath id='search_FILL0_wght500_GRAD0_opsz24' d='M118.49-833.7a5.7,5.7,0,0,1-4.187-1.715,5.7,5.7,0,0,1-1.716-4.187,5.7,5.7,0,0,1,1.716-4.187,5.7,5.7,0,0,1,4.187-1.715,5.7,5.7,0,0,1,4.187,1.715,5.7,5.7,0,0,1,1.716,4.187,5.562,5.562,0,0,1-.3,1.848,5.279,5.279,0,0,1-.813,1.515l4.937,4.942a.974.974,0,0,1,.282.71.948.948,0,0,1-.287.706.959.959,0,0,1-.708.282.959.959,0,0,1-.708-.282l-4.932-4.931a5.335,5.335,0,0,1-1.526.811A5.566,5.566,0,0,1,118.49-833.7Zm0-2.022a3.746,3.746,0,0,0,2.749-1.129,3.745,3.745,0,0,0,1.13-2.75,3.745,3.745,0,0,0-1.13-2.75,3.746,3.746,0,0,0-2.749-1.129,3.745,3.745,0,0,0-2.75,1.129,3.745,3.745,0,0,0-1.13,2.75,3.745,3.745,0,0,0,1.13,2.75A3.745,3.745,0,0,0,118.49-835.717Z' transform='translate(-112.587 845.499)' fill='%23fff'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.header .tnb .paper {
    position: relative;
    padding-right: 16px;
    margin-left: 10px;
}
.header .tnb .paper::after {
    position: absolute;
    right: 0;
    top: 3px;
    width: 13px;
    height: 13px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.859' height='12.859' viewBox='0 0 12.859 12.859'%3E%3Cpath id='open_in_new_FILL0_wght500_GRAD0_opsz24' d='M113.458-835.272a1.531,1.531,0,0,1-1.125-.465,1.531,1.531,0,0,1-.465-1.125v-9.68a1.531,1.531,0,0,1,.465-1.125,1.534,1.534,0,0,1,1.125-.465H117.5a.768.768,0,0,1,.565.23.767.767,0,0,1,.23.564.77.77,0,0,1-.23.565.765.765,0,0,1-.565.23h-4.046v9.68h9.68v-4.046a.767.767,0,0,1,.23-.564.768.768,0,0,1,.565-.23.768.768,0,0,1,.565.23.767.767,0,0,1,.23.564v4.046a1.531,1.531,0,0,1-.465,1.125,1.531,1.531,0,0,1-1.125.465Zm9.68-10.162-5.766,5.767a.742.742,0,0,1-.552.219.756.756,0,0,1-.552-.223.753.753,0,0,1-.221-.555.753.753,0,0,1,.221-.554l5.762-5.761H120.49a.765.765,0,0,1-.565-.23.77.77,0,0,1-.23-.565.767.767,0,0,1,.23-.564.768.768,0,0,1,.565-.23h4.237v4.238a.767.767,0,0,1-.23.564.768.768,0,0,1-.565.23.768.768,0,0,1-.565-.23.767.767,0,0,1-.23-.564Z' transform='translate(-111.869 848.131)' fill='%23fff'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
@media screen and (max-width:1320px){
    .header .logo {
        margin: 30px 0 0 20px;
    }
    .header .logo a {
        width: 150px;
        height: 34px;
    }
    .header .gnb ul.depth1 > li > a {
        padding: 0 15px;
        font-size: 18px;
    }
    .header .gnb ul.depth1 > li:has(.depth2) > a::after {
        top: calc(50% - 3px);
        right: -3px;
        width: 20px;
        height: 5px;
    }  
    .header .tnb {
        margin-right: 20px;
    }
    .header .tnb .search {
        margin-right: 3px;
    } 
}/*m*/
@media screen and (max-width:1024px){
    .header .gnb .gnb_wrap {
        display: none;
        background-color: #001000;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 110;
        width: 100%;
        height: 100vh;
    }
    .header.menu_open .gnb .gnb_wrap {
        display: block;
    }
    .header .gnb .gnb_open {
        display: block;
    }
    .header .gnb .gnb_open,
    .header .gnb .gnb_close {
        position: absolute;
        right: 0;
        top: 0;
        width: 60px;
        height: 100px;
        font-size: 0;
        line-height: 0;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='9.588' viewBox='0 0 16 9.588'%3E%3Cpath id='drag_handle_FILL0_wght500_GRAD0_opsz24' d='M152.978-601.412a1.073,1.073,0,0,1-.788-.321,1.074,1.074,0,0,1-.321-.788,1.071,1.071,0,0,1,.321-.788,1.069,1.069,0,0,1,.788-.321H166.76a1.069,1.069,0,0,1,.788.321,1.071,1.071,0,0,1,.321.788,1.074,1.074,0,0,1-.321.788,1.073,1.073,0,0,1-.788.321Zm0-7.369a1.073,1.073,0,0,1-.788-.321,1.074,1.074,0,0,1-.321-.788,1.071,1.071,0,0,1,.321-.788,1.069,1.069,0,0,1,.788-.321H166.76a1.069,1.069,0,0,1,.788.321,1.071,1.071,0,0,1,.321.788,1.074,1.074,0,0,1-.321.788,1.073,1.073,0,0,1-.788.321Z' transform='translate(-151.869 611)' fill='%23fff'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: 16px auto;
        background-position: center center;
    }
    .header.menu_open .gnb .gnb_open {
        display: none;
    }
    .header.menu_open .gnb .gnb_close {
        display: block;
        z-index: 111;
        background-color: #4CAA49;
        color: #001000;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath id='close_FILL0_wght500_GRAD0_opsz24' d='M219.5-738.6l-5.726,5.726a1.286,1.286,0,0,1-.948.378,1.286,1.286,0,0,1-.948-.378,1.286,1.286,0,0,1-.378-.948,1.286,1.286,0,0,1,.378-.948L217.6-740.5l-5.726-5.726a1.286,1.286,0,0,1-.378-.948,1.286,1.286,0,0,1,.378-.948,1.286,1.286,0,0,1,.948-.378,1.286,1.286,0,0,1,.948.378L219.5-742.4l5.726-5.726a1.286,1.286,0,0,1,.948-.378,1.286,1.286,0,0,1,.948.378,1.286,1.286,0,0,1,.378.948,1.286,1.286,0,0,1-.378.948L221.4-740.5l5.726,5.726a1.286,1.286,0,0,1,.378.948,1.286,1.286,0,0,1-.378.948,1.286,1.286,0,0,1-.948.378,1.286,1.286,0,0,1-.948-.378Z' transform='translate(-211.5 748.5)' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
    } 
    .header.menu_open .gnb ul.depth1 {
        background-color: #fff;
        color: #001000;
        margin: 100px 0 0 0;
        height: calc(100vh - 100px);
        overflow-y: auto; /* 메뉴가 길어지면 스크롤 */
        display: block;
    }
    .header .gnb ul.depth1 > li:has(.depth2) > a::after {
        display: none;
    }
    .header .gnb ul.depth1 > li:has(.depth2) > a span {
        position: relative;
    }
    .header .gnb ul.depth1 > li:has(.depth2) > a span::after {
        position: absolute;
        right: -14px;
        top: 12px;
        width: 10px;
        height: 10px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='5.874' viewBox='0 0 10 5.874'%3E%3Cpath id='expand_more_FILL0_wght400_GRAD0_opsz24' d='M262-618.126a.992.992,0,0,1-.336-.056.787.787,0,0,1-.291-.191l-4.126-4.126a.85.85,0,0,1-.247-.628.85.85,0,0,1,.247-.628.85.85,0,0,1,.628-.247.85.85,0,0,1,.628.247l3.5,3.5,3.5-3.5a.85.85,0,0,1,.628-.247.85.85,0,0,1,.628.247.85.85,0,0,1,.247.628.85.85,0,0,1-.247.628l-4.126,4.126a.787.787,0,0,1-.291.191A.992.992,0,0,1,262-618.126Z' transform='translate(-257 624)' fill='rgba(0,16,0,0.8)'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        transition: 0.5s;
    } 
    .header .gnb ul.depth1 > li.sub_open:has(.depth2) > a span::after {   
        transform: rotate(180deg);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='5.874' viewBox='0 0 10 5.874'%3E%3Cpath id='expand_less_FILL0_wght400_GRAD0_opsz24' d='M262-621.87l-3.5,3.5a.85.85,0,0,1-.628.247.85.85,0,0,1-.628-.247A.85.85,0,0,1,257-619a.85.85,0,0,1,.247-.628l4.126-4.126a.787.787,0,0,1,.291-.191A.993.993,0,0,1,262-624a.993.993,0,0,1,.336.056.787.787,0,0,1,.291.191l4.126,4.126A.85.85,0,0,1,267-619a.85.85,0,0,1-.247.628.85.85,0,0,1-.628.247.85.85,0,0,1-.628-.247Z' transform='translate(267 -618.126) rotate(180)' fill='%234caa49'/%3E%3C/svg%3E%0A");
    }
    .header .gnb ul.depth1 > li > a {
        font-size: 22px;
        line-height: 50px;
        padding: 20px 20px;
    }
    .header .gnb ul.depth1 > li.sub_open > a {
        font-weight: 700;
    }
    .header .gnb ul.depth2 {
        display: none;
        position: relative;
        left: auto;
        top: auto;
        transform: translate(0, 0);
        padding: 15px 20px;
        background-color: #f4f4f4;
    }
    .header .gnb ul.depth2::before {
       display: none;
    }
    .header .tnb .paper {
        display: none;
    }
    .header.menu_open .tnb .paper {
        display: block;
        position: absolute;
        left: 20px;
        top: 40px;
        z-index: 111;
    }
    .header .tnb {
        margin: 40px 52px 0 0;
    }
    .header .tnb .search {
        padding-left: 15px;
        margin-right: 0;
        font-size: 0;
        line-height: 0;
    } 
}/*m*/
@media screen and (max-width:768px){
    /* 모바일 변환 */
    .header {
        height: 50px;
    }
    .header .logo {
        margin: 15px 0 0 20px;
    }
    .header .logo a {
        width: 90px;
        height: 20px;
    }
    .header .gnb .gnb_open {
        height: 50px;
    }
    .header.menu_open .gnb ul.depth1 {
        margin: 50px 0 0 0;
        height: calc(100vh - 50px);
    }
    .header .gnb .gnb_open,
    .header .gnb .gnb_close {
        height: 50px;
    }
    .header .tnb {
        margin: 16px 52px 0 0;
    } 
    .header.menu_open .tnb .paper {
        top: 15px;
        font-size: 15px;
    }
    .header.menu_open .tnb .paper::after {
        right: 3px;
        top: 3px;
        width: 11px;
        height: 11px;
    }
}/*m*/

.visual h2 {
    display: none;
}
.visual .swiper { height:700px } /* 팝업의 높이가 됨 */
.visual .swiper-slide img { display:block; width:100%; height:100%; object-fit:cover; }
.visual .visual_txt {
    position: absolute;
    left: calc(50% - 640px);
    top: 286px; 
    width: 1280px;
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    /* wrapper 처럼 visual_txt를 배치함 
        넓이가 1280px이고 좌우에 가운데 정렬
        left: calc(50% - 1280px의 절반) */
}
.visual .txt02 p {
    margin: 120px 0 0 -50px;
}
.visual .ctrl_btn {
    position: absolute;
    left: 50%;
    bottom: 20px;
    z-index: 10;
    transform: translate(-50%, 0); /* 나 자신 넓이의 절반 */
    display: flex;
}
.visual .ctrl_btn button {
    border-width: 1px 1px 1px 0; 
    border-style: solid; 
    border-color: rgba(255, 255, 255, 0.6);
    width: 28px;
    height: 28px;
    font-size: 0;
    line-height: 0;
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .ctrl_btn .prev {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='16.74' viewBox='0 0 10 16.74'%3E%3Cpath id='chevron_left_FILL0_wght500_GRAD0_opsz24' d='M335.461-700.13l5.574,5.574a1.583,1.583,0,0,1,.464,1.166,1.582,1.582,0,0,1-.464,1.166,1.58,1.58,0,0,1-1.166.464,1.578,1.578,0,0,1-1.166-.464l-6.731-6.731a1.54,1.54,0,0,1-.36-.546,1.762,1.762,0,0,1-.114-.628,1.763,1.763,0,0,1,.114-.629,1.54,1.54,0,0,1,.36-.546l6.731-6.731a1.58,1.58,0,0,1,1.166-.464,1.581,1.581,0,0,1,1.166.464,1.583,1.583,0,0,1,.464,1.166,1.583,1.583,0,0,1-.464,1.166Z' transform='translate(-331.5 708.5)' fill='rgba(255,255,255,0.8)'/%3E%3C/svg%3E%0A");
}
.visual .ctrl_btn .next{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='16.74' viewBox='0 0 10 16.74'%3E%3Cpath id='chevron_left_FILL0_wght500_GRAD0_opsz24' d='M335.461-700.13l5.574,5.574a1.583,1.583,0,0,1,.464,1.166,1.582,1.582,0,0,1-.464,1.166,1.58,1.58,0,0,1-1.166.464,1.578,1.578,0,0,1-1.166-.464l-6.731-6.731a1.54,1.54,0,0,1-.36-.546,1.762,1.762,0,0,1-.114-.628,1.763,1.763,0,0,1,.114-.629,1.54,1.54,0,0,1,.36-.546l6.731-6.731a1.58,1.58,0,0,1,1.166-.464,1.581,1.581,0,0,1,1.166.464,1.583,1.583,0,0,1,.464,1.166,1.583,1.583,0,0,1-.464,1.166Z' transform='translate(341.5 -691.76) rotate(180)' fill='rgba(255,255,255,0.8)'/%3E%3C/svg%3E%0A");
}
.visual .ctrl_btn .play{
    display: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.531' height='14' viewBox='0 0 11.531 14'%3E%3Cpath id='play_arrow_FILL0_wght500_GRAD0_opsz24' d='M311.869-724.283V-735.8a1.169,1.169,0,0,1,.373-.887,1.221,1.221,0,0,1,.866-.354,1.331,1.331,0,0,1,.329.045,1.21,1.21,0,0,1,.328.139l9.073,5.768a1.208,1.208,0,0,1,.42.464,1.283,1.283,0,0,1,.142.586,1.283,1.283,0,0,1-.142.586,1.192,1.192,0,0,1-.42.463l-9.073,5.769a1.178,1.178,0,0,1-.328.138,1.283,1.283,0,0,1-.329.044,1.223,1.223,0,0,1-.866-.352A1.167,1.167,0,0,1,311.869-724.283ZM314.347-730.044Zm0,3.5,5.491-3.5-5.491-3.5Z' transform='translate(-311.869 737.045)' fill='rgba(255,255,255,0.8)'/%3E%3C/svg%3E%0A");
}
.visual .ctrl_btn .stop {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14'%3E%3Cpath id='pause_FILL0_wght500_GRAD0_opsz24' d='M195.52-760.587a2.084,2.084,0,0,1-1.527-.635,2.083,2.083,0,0,1-.635-1.527v-9.676a2.082,2.082,0,0,1,.635-1.526,2.081,2.081,0,0,1,1.527-.636h1.73a2.08,2.08,0,0,1,1.527.636,2.082,2.082,0,0,1,.635,1.526v9.676a2.083,2.083,0,0,1-.635,1.527,2.083,2.083,0,0,1-1.527.635Zm-7.945,0a2.084,2.084,0,0,1-1.527-.635,2.083,2.083,0,0,1-.635-1.527v-9.676a2.082,2.082,0,0,1,.635-1.526,2.081,2.081,0,0,1,1.527-.636h1.73a2.082,2.082,0,0,1,1.527.636,2.083,2.083,0,0,1,.635,1.526v9.676a2.084,2.084,0,0,1-.635,1.527,2.085,2.085,0,0,1-1.527.635Zm7.945-2.162h1.73v-9.676h-1.73Zm-7.945,0h1.73v-9.676h-1.73Zm0-9.676v0Zm7.945,0v0Z' transform='translate(-185.413 774.587)' fill='rgba(255,255,255,0.8)'/%3E%3C/svg%3E%0A");
}
.visual .ctrl_btn button:first-child {
    border-left-width: 1px;
}

@media screen and (max-width:1380px){
    .visual .txt02 p {
        margin: 120px 0 0 0;
    }
}/*m*/
@media screen and (max-width:1320px){
    .visual .visual_txt {
        font-size: 50px;
        left: 20px;
        width: calc(100% - 40px); /* 왼쪽, 오른쪽 여백 빼기 */
    }
    .visual .txt02 p {
        margin: 120px 0 0 0px;
    }
}/*m*/
@media screen and (max-width:1024px){
    .visual .swiper { height:500px } 
    .visual .visual_txt {
        top: 200px;
        font-size: 40px;
    }
    .visual .txt02 p {
        margin: 100px 0 0 0px;
    }
}/*m*/
@media screen and (max-width:768px){
    .visual .swiper { height:400px } 
    .visual .visual_txt {
        top: 200px;
        font-size: 30px;
    }
    .visual .txt02 p {
        margin: 50px 0 0 0px;
    }
}/*m*/
@media screen and (max-width:500px){
    .visual .swiper { height:300px } 
    .visual .visual_txt {
        top: 200px;
        font-size: 25px;
    }
    .visual .txt02 p {
        margin: 0;
    }
    .visual .ctrl_btn {
        left: auto;
        right: 20px;
        bottom: 20px;
        transform: translate(0, 0);
    }
    .visual .ctrl_btn .play,
    .visual .ctrl_btn .stop {
        background-size: 9px 9px;
        border: 1px solid rgba(255, 255, 255, 0.8);
        border-radius: 100px;
        width: 25px;
        height: 25px;
    }
    .visual .ctrl_btn .prev,
    .visual .ctrl_btn .next {
        display: none;
    }
}/*m*/

.lost {
    background-color: #001000;
    color: #fff;
    padding-bottom: 65px;
}
.lost h2 {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    padding: 130px 0 20px 0;
}
.lost .list {
    position: relative; /* detail 정렬의 기준 */
    height: 700px; 
    /* detail이 positon:absolute라서 공간을 차지하지 못함
        높이를 모름 - 감싸는 요소에서 높이를 강제로 줌 */
}
.lost .list > ul {
    display: flex;
    justify-content: center;
}
.lost .list > ul > li > button {
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 1px;
}
.lost .list > ul > li.active > button {
    background-color: #4CAA49;
    border-radius: 25px;
    color: #fff;
}
.lost .list > ul >li .detail {
    position: absolute; 
    left: 0;
    top: 88px; /* tab버튼에서부터의 측정 */
    width: 100%;
    display: none;
}
.lost .list > ul >li.active .detail {
    display: block;
}
.lost .list > ul >li .detail ul {
    display: flex;
    justify-content: space-between;
}
.lost .list > ul >li .detail ul li {
    /*
        100 / li의 갯수 = 100/4 = 25%
        li사이의 여백 16 * li의 갯수-1 = 16*3 = 48 / li의 갯수(4) = 12
    */
    width: calc(25% - 12px);
}
.lost .list > ul >li .detail ul li a {
    display: block;
}
.lost .list > ul >li .detail ul li a .photo {
    display: block;
    height: 374px;
    overflow: hidden;
    border-radius: 32px;
}
.lost .list > ul >li .detail ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.lost .list > ul >li .detail ul li a h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 12px 0 10px 0;
    display: flex; /* 글자 가운데 정렬 */
    align-items: center;
    /* 무조건 한줄 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.lost .list > ul >li .detail ul li a h3 strong {
    font-size: 17px;
    background-color: #EB5F2A; /* 첫번째 카테고리 색상 */
    padding: 3px 10px;
    border-radius: 20px;
    display: inline-block;
    margin-right: 10px;
}
.lost .list > ul >li .detail ul li a h3 strong.category01 {
    background-color: #EB5F2A;
}
.lost .list > ul >li .detail ul li a h3 strong.category02 {
    background-color: #717171;
}
.lost .list > ul >li .detail ul li a h3 strong.category03 {
    background-color: #C9BC08;
}
.lost .list > ul >li .detail ul li a h3 strong.category04 {
    background-color: #2A5DEB;
}
.lost .list > ul >li .detail ul li a p {
    margin-left: 5px;
    /* 2줄로 제한 */
    line-height: 1.4;
    height: 2.8em;
    overflow: hidden;
}
.lost .list > ul >li .detail .more {
    margin: 65px 0 0 0;
    text-align: center;
}
.lost .list > ul >li .detail .more a {
    display: inline-block;
    border: 1px solid #fff;
    padding: 10px 40px 10px 20px;
    border-radius: 25px;
    position: relative; /* after 정렬의 기준*/
}
.lost .list > ul >li .detail .more a::after {
    position: absolute;
    top: 13px;
    right: 18px;
    width: 10px;
    height: 10px;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Cpath id='add_FILL0_wght500_GRAD0_opsz24_1_' data-name='add_FILL0_wght500_GRAD0_opsz24 (1)' d='M196.079-762.341h-3.421a.761.761,0,0,1-.561-.229.762.762,0,0,1-.229-.561.761.761,0,0,1,.229-.561.761.761,0,0,1,.561-.229h3.421v-3.42a.765.765,0,0,1,.229-.562.764.764,0,0,1,.561-.228.764.764,0,0,1,.561.228.765.765,0,0,1,.229.562v3.42h3.421a.761.761,0,0,1,.561.229.762.762,0,0,1,.229.561.762.762,0,0,1-.229.561.761.761,0,0,1-.561.229h-3.421v3.42a.762.762,0,0,1-.229.561.763.763,0,0,1-.561.229.763.763,0,0,1-.561-.229.762.762,0,0,1-.229-.561Z' transform='translate(-191.869 768.131)' fill='rgba(255,255,255,0.8)'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 1s;
}
.lost .list > ul >li .detail .more a:hover {
    background-color: #139BE1;
    border-color: #139BE1;
}
.lost .list > ul >li .detail .more a:hover::after {
    transform: rotate(180deg);
}
@media screen and (max-width:1024px){
    .lost h2 {
        font-size: 35px;
        padding: 100px 0 20px 0;
    }
    .lost .list {
        height: 620px; 
        /* detail이 positon:absolute라서 공간을 차지하지 못함
            높이를 모름 - 감싸는 요소에서 높이를 강제로 줌 */
    }
    .lost .list > ul > li > button {
        padding: 8px 25px;
        font-size: 17px;
    }
    .lost .list > ul >li .detail ul li {
        width: calc(33.33% - 12px);
    }
    .lost .list > ul >li .detail ul li:last-child {
        display: none; /* 마지막 li 숨김*/
    }
    .lost .list > ul >li .detail ul li a .photo {
        height: 340px;
        border-radius: 25px;
    }
}/*m*/
@media screen and (max-width:768px){
    .lost h2 {
        font-size: 25px;
        padding: 80px 0 20px 0;
    }
    .lost .list {
        height: 550px; 
        /* detail이 positon:absolute라서 공간을 차지하지 못함
            높이를 모름 - 감싸는 요소에서 높이를 강제로 줌 */
    }
    .lost .list > ul > li > button {
        padding: 8px 25px;
        font-size: 17px;
    }
    .lost .list > ul >li .detail ul li {
        width: calc(50% - 8px);
    }
    .lost .list > ul >li .detail {
        top: 74px;
    }
    .lost .list > ul >li .detail ul li:nth-child(3) {
        display: none;
    }
    .lost .list > ul >li .detail ul li a .photo {
        height: 300px;
        border-radius: 20px;
    }
    .lost .list > ul >li .detail ul li a h3 {
        margin: 10px 0 8px 0;
        font-size: 17px;
    }
    .lost .list > ul >li .detail ul li a h3 strong {
        font-size: 15px;
        margin-right: 8px;
    }
    .lost .list > ul >li .detail .more {
        margin: 50px 0 0 0;
    }
}/*m*/
@media screen and (max-width:500px){
    .lost h2 {
        font-size: 22px;
        padding: 60px 0 15px 0;
    }
    .lost .list {
        height: 500px; 
        /* detail이 positon:absolute라서 공간을 차지하지 못함
            높이를 모름 - 감싸는 요소에서 높이를 강제로 줌 */
    }
    .lost .list > ul > li > button {
        padding: 6px 20px;
        font-size: 15px;
    }
    .lost .list > ul >li .detail ul li a .photo {
        height: 280px;
        border-radius: 15px;
    }
    .lost .list > ul >li .detail ul li a h3 {
        margin: 10px 0 8px 0;
        font-size: 15px;
    }
    .lost .list > ul >li .detail ul li a h3 strong {
        font-size: 13px;
        margin-right: 7px;
    }
    .lost .list > ul >li .detail .more {
        margin: 35px 0 0 0;
    }
    .lost .list > ul >li .detail .more a {
        padding: 6px 40px 6px 20px;
    }
    .lost .list > ul >li .detail .more a::after {
        top: 8px;
        right: 16px;
        width: 10px;
        height: 10px;
    }
}/*m*/




.footer {
    background-color: #141414;
    color: rgba(255, 255, 255, 0.8);
    padding: 90px 0 90px 0;
}
.footer .inner {
    position: relative; /* sns와 familysite 정렬의 기준 */
}
.footer .sns {
    position: absolute;
    right: 0;
    bottom: 0;
}
.footer .sns ul {
    display: flex;
}
.footer .sns ul li {
    margin-right: 3px;
}
.footer .sns ul li:last-child {
    margin-right: 0;
}
.footer .sns ul li a {
    display: block;
    width: 38px;
    height: 38px;
    font-size: 0;
    line-height: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.footer .sns ul li.facebook a {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='38' height='38' viewBox='0 0 38 38'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='사각형_452' data-name='사각형 452' width='36' height='36' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='그룹_290' data-name='그룹 290' transform='translate(-1445 -3546)'%3E%3Cg id='그룹_278' data-name='그룹 278' transform='translate(1446 3547)' opacity='0.5'%3E%3Cg id='그룹_277' data-name='그룹 277' transform='translate(0 0)' clip-path='url(%23clip-path)'%3E%3Cpath id='패스_702' data-name='패스 702' d='M30.345,25.2l.452-2.95h-2.83V20.333A1.475,1.475,0,0,1,29.63,18.74h1.287V16.229a15.658,15.658,0,0,0-2.284-.2A3.6,3.6,0,0,0,24.778,20v2.248H22.187V25.2h2.591v7.131h3.189V25.2Z' transform='translate(-8.552 -6.179)' fill='%230080ff'/%3E%3Cpath id='패스_703' data-name='패스 703' d='M18,36A18,18,0,1,1,36,18,18.021,18.021,0,0,1,18,36M18,.874A17.126,17.126,0,1,0,35.126,18,17.145,17.145,0,0,0,18,.874' transform='translate(0 0)' fill='%230080ff'/%3E%3C/g%3E%3C/g%3E%3Crect id='사각형_475' data-name='사각형 475' width='38' height='38' transform='translate(1445 3546)' fill='none'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.footer .sns ul li.twitter a {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='38' height='38' viewBox='0 0 38 38'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='사각형_453' data-name='사각형 453' width='36' height='36' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='그룹_292' data-name='그룹 292' transform='translate(-1484 -3546)'%3E%3Cg id='그룹_280' data-name='그룹 280' transform='translate(1485 3547)' opacity='0.5'%3E%3Cg id='그룹_279' data-name='그룹 279' transform='translate(0 0)' clip-path='url(%23clip-path)'%3E%3Cpath id='패스_704' data-name='패스 704' d='M32.586,18.963a7.453,7.453,0,0,1-1.829.521c.294-.049.726-.582.9-.8a3.358,3.358,0,0,0,.607-1.107c.016-.031.028-.071,0-.095a.1.1,0,0,0-.1.008,9.343,9.343,0,0,1-2.169.83.145.145,0,0,1-.149-.039,1.771,1.771,0,0,0-.189-.194,3.833,3.833,0,0,0-1.051-.644,3.657,3.657,0,0,0-1.611-.259,3.848,3.848,0,0,0-1.528.431,3.943,3.943,0,0,0-1.233,1.007,3.793,3.793,0,0,0-.736,1.476,4,4,0,0,0-.039,1.557c.012.087,0,.1-.075.087a11.584,11.584,0,0,1-7.452-3.793c-.087-.1-.134-.1-.205.007a3.778,3.778,0,0,0,.644,4.465c.146.139.3.277.458.4a3.794,3.794,0,0,1-1.437-.4c-.087-.055-.131-.023-.139.076a2.26,2.26,0,0,0,.024.426,3.821,3.821,0,0,0,2.355,3.046,2.224,2.224,0,0,0,.478.146,4.255,4.255,0,0,1-1.41.044c-.1-.02-.143.031-.1.13a3.967,3.967,0,0,0,2.963,2.481c.135.024.269.024.4.055-.008.012-.016.012-.024.024a4.7,4.7,0,0,1-2.023,1.072,7.251,7.251,0,0,1-3.073.393c-.165-.025-.2-.022-.245,0s-.006.068.047.11c.21.139.423.261.64.38a10.122,10.122,0,0,0,2.054.822,10.942,10.942,0,0,0,10.623-2.484,11.147,11.147,0,0,0,2.94-8.132c0-.117.138-.181.22-.243a7.185,7.185,0,0,0,1.446-1.5.459.459,0,0,0,.1-.288v-.015c0-.048,0-.033-.074,0' transform='translate(-5.617 -6.622)' fill='%230cf'/%3E%3Cpath id='패스_705' data-name='패스 705' d='M18,36A18,18,0,1,1,36,18,18.021,18.021,0,0,1,18,36M18,.874A17.126,17.126,0,1,0,35.126,18,17.145,17.145,0,0,0,18,.874' transform='translate(0 0)' fill='%230cf'/%3E%3C/g%3E%3C/g%3E%3Crect id='사각형_476' data-name='사각형 476' width='38' height='38' transform='translate(1484 3546)' fill='none'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.footer .sns ul li.naver a {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='38' height='38' viewBox='0 0 38 38'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='사각형_454' data-name='사각형 454' width='36' height='36' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='그룹_293' data-name='그룹 293' transform='translate(-1522 -3546)'%3E%3Cg id='그룹_282' data-name='그룹 282' transform='translate(1523 3547)' opacity='0.5'%3E%3Cg id='그룹_281' data-name='그룹 281' transform='translate(0)' clip-path='url(%23clip-path)'%3E%3Cpath id='패스_706' data-name='패스 706' d='M18,36A18,18,0,1,1,36,18,18.021,18.021,0,0,1,18,36M18,.874A17.126,17.126,0,1,0,35.126,18,17.145,17.145,0,0,0,18,.874' transform='translate(0 0)' fill='%2306be34'/%3E%3Cpath id='패스_707' data-name='패스 707' d='M32.542,17.218V33.259H26.687L20.95,25.185v8.075H15.1V17.218H20.95l5.737,8.4v-8.4Z' transform='translate(-5.819 -6.637)' fill='%2306be34'/%3E%3C/g%3E%3C/g%3E%3Crect id='사각형_477' data-name='사각형 477' width='38' height='38' transform='translate(1522 3546)' fill='none'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.footer .sns ul li.daum a {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='38' height='38' viewBox='0 0 38 38'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='사각형_468' data-name='사각형 468' width='36' height='36' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='그룹_294' data-name='그룹 294' transform='translate(-1561 -3546)'%3E%3Cg id='그룹_288' data-name='그룹 288' transform='translate(1562 3547)' opacity='0.5'%3E%3Cg id='그룹_287' data-name='그룹 287' transform='translate(0 0)' clip-path='url(%23clip-path)'%3E%3Cpath id='패스_710' data-name='패스 710' d='M27.037,16.29H18.63V32.268h8.784s6.777-1,6.777-8.7c0-6.358-7.153-7.278-7.153-7.278M26.8,27.346H23.422V21.211h3.229s2.746.354,2.746,2.795a3.193,3.193,0,0,1-2.6,3.341' transform='translate(-7.181 -6.279)' fill='%23608df9'/%3E%3Cpath id='패스_711' data-name='패스 711' d='M18,36A18,18,0,1,1,36,18,18.021,18.021,0,0,1,18,36M18,.874A17.126,17.126,0,1,0,35.126,18,17.145,17.145,0,0,0,18,.874' transform='translate(0 0)' fill='%23608df9'/%3E%3C/g%3E%3C/g%3E%3Crect id='사각형_478' data-name='사각형 478' width='38' height='38' transform='translate(1561 3546)' fill='none'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.footer .footer_nav ul {
    display: flex;
}
.footer .footer_nav ul + ul { /* ul태그가 두개 있을때 다음에 오는 ul 선택자 */
    margin-top: 20px;
}
.footer .footer_nav ul li {
    margin-right: 45px;
    position: relative;
}
.footer .footer_nav ul li::after {
    position: absolute;
    right: -23px;
    top: 3px;
    width: 1px;
    height: 11px;
    background-color: rgba(255, 255, 255, 0.2);
    content: "";
}
.footer .footer_nav ul li:last-child {
    margin-right: 0;
}
.footer .footer_nav ul li:last-child::after {
    display: none;
}
.footer .family_site {
    position: absolute;
    right: 0;
    top: 0;
}
.footer .family_site .site_open,
.footer .family_site .site_close {
    display: none; /* 모바일에서만 보임 */
}
@media screen and (min-width:1025px){
    /* pc버전에서만 리스트가 나타나고 버튼이 사라지도록 */
    .footer .family_site .site_open,
    .footer .family_site .site_close {
        display: none !important;
    }
    .footer .family_site .site_list{
        display: block !important;
    }

    /*
        <div class="site_list" style="display:none;">
        jquery에서 hide/slideUp를 줬더니 태그에 직접 style="display:none" 씀
        이 태그에 직접 style이라고 선언한 스타일은 인라인 방식으로
        css에서 준 어떠한 스타일보다 우선 적용됨

        이때 무조건 우선순위를 1순위로 적용하는 방법이 css에서 
        display: block !important; 를 주는 것.
    */
}/*m*/
.footer .family_site ul li a {
    display: block;
    padding: 0 15px 0 0;
    position: relative;
    text-align: right;
    line-height: 30px;
}
.footer .family_site ul li a::after {
    position: absolute;
    right: 0;
    top: 8px;
    width: 13px;
    height: 13px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.859' height='12.859' viewBox='0 0 12.859 12.859'%3E%3Cpath id='open_in_new_FILL0_wght500_GRAD0_opsz24' d='M113.458-835.272a1.531,1.531,0,0,1-1.125-.465,1.531,1.531,0,0,1-.465-1.125v-9.68a1.531,1.531,0,0,1,.465-1.125,1.534,1.534,0,0,1,1.125-.465H117.5a.768.768,0,0,1,.565.23.767.767,0,0,1,.23.564.77.77,0,0,1-.23.565.765.765,0,0,1-.565.23h-4.046v9.68h9.68v-4.046a.767.767,0,0,1,.23-.564.768.768,0,0,1,.565-.23.768.768,0,0,1,.565.23.767.767,0,0,1,.23.564v4.046a1.531,1.531,0,0,1-.465,1.125,1.531,1.531,0,0,1-1.125.465Zm9.68-10.162-5.766,5.767a.742.742,0,0,1-.552.219.756.756,0,0,1-.552-.223.753.753,0,0,1-.221-.555.753.753,0,0,1,.221-.554l5.762-5.761H120.49a.765.765,0,0,1-.565-.23.77.77,0,0,1-.23-.565.767.767,0,0,1,.23-.564.768.768,0,0,1,.565-.23h4.237v4.238a.767.767,0,0,1-.23.564.768.768,0,0,1-.565.23.768.768,0,0,1-.565-.23.767.767,0,0,1-.23-.564Z' transform='translate(-111.869 848.131)' fill='rgba(255,255,255,0.6)'/%3E%3C/svg%3E%0A");
}
.footer .copyright {
    margin-top: 62px;
    color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width:1024px){
    .footer {
        background-color: #141414;
        color: rgba(255, 255, 255, 0.8);
        padding: 40px 0 55px 0;
    }
    .footer .sns {
        position: relative;
        right: auto;
        bottom: auto;
    }
    .footer .sns ul {
        justify-content: center;
    }
    .footer .sns ul li {
        margin-right: 2px;
    }
    .footer .footer_nav {
        margin-top: 22px;
        border-width: 1px 0 0 1px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.2);
    }
    .footer .footer_nav ul {
        flex-wrap: wrap; /* 줄바꿈 허용 */
    }
    .footer .footer_nav ul + ul { /* ul태그가 두개 있을때 다음에 오는 ul 선택자 */
        margin-top: 0;
    }
    .footer .footer_nav ul li {
        margin-right: 0;
        width: 33.33%; /* 한죽에 3개씩 */
        border-width: 0 1px 1px 0;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.2);
        padding: 17px 0;
        text-align: center;
    }
    .footer .footer_nav ul li::after {
        display: none;
    }
    .footer .footer_nav ul li:last-child {
        margin-right: 0;
    }
    .footer .footer_nav ul li:last-child::after {
        display: none;
    }
    .footer .footer_nav ul li a {
        display: block;
    }
    .footer .family_site {
        position: relative; /* absolute 해제 + site_list 정렬의 기준 */
        right: auto;
        top: auto;
        margin: 30px 0;
    }
    .footer .family_site .site_open {
        display: block; /* 모바일에서만 보임 */
    }
    .footer .family_site .site_open,
    .footer .family_site .site_close {
        width: 100%;
        line-height: 38px;
        background-color: #292929;
        border-radius: 10px;
        text-align: left;
        padding: 0 16px;
        position: relative;
    }
    .footer .family_site .site_open::after,
    .footer .family_site .site_close::after {
        position: absolute;
        right: 16px;
        top: 14px;
        width: 10px;
        height: 10px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
    }
    .footer .family_site .site_open::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Cpath id='add_FILL0_wght500_GRAD0_opsz24_1_' data-name='add_FILL0_wght500_GRAD0_opsz24 (1)' d='M196.079-762.341h-3.421a.761.761,0,0,1-.561-.229.762.762,0,0,1-.229-.561.762.762,0,0,1,.229-.561.761.761,0,0,1,.561-.229h3.421v-3.42a.765.765,0,0,1,.229-.562.764.764,0,0,1,.561-.228.764.764,0,0,1,.561.228.765.765,0,0,1,.229.562v3.42h3.421a.761.761,0,0,1,.561.229.762.762,0,0,1,.229.561.762.762,0,0,1-.229.561.761.761,0,0,1-.561.229h-3.421v3.42a.762.762,0,0,1-.229.561.763.763,0,0,1-.561.229.763.763,0,0,1-.561-.229.762.762,0,0,1-.229-.561Z' transform='translate(-191.869 768.131)' fill='rgba(255,255,255,0.8)'/%3E%3C/svg%3E%0A");
    }
    .footer .family_site .site_close::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='1.579' viewBox='0 0 10 1.579'%3E%3Cpath id='remove_FILL0_wght500_GRAD0_opsz24' d='M192.659-523.921a.763.763,0,0,1-.561-.229.763.763,0,0,1-.229-.561.763.763,0,0,1,.229-.561.762.762,0,0,1,.561-.229h8.421a.763.763,0,0,1,.561.229.763.763,0,0,1,.229.561.763.763,0,0,1-.229.561.763.763,0,0,1-.561.229Z' transform='translate(-191.869 525.5)' fill='rgba(255,255,255,0.8)'/%3E%3C/svg%3E%0A");
    }

    .footer .family_site .site_list{
        position: absolute;
        left: 0;
        bottom: 38px;
        width: 100%;
        background-color: #292929;
        border-radius: 10px;
        padding: 20px 0 20px 17px;
        display: none;
    }
    .footer .family_site ul li a {
        padding: 0;
        text-align: left;
    }
    .footer .family_site ul li a::after {
        display: none;
    }
    .footer .copyright {
        margin-top: 30px;
    }
}/*m*/