@charset "utf-8"; /* 이 css문서는 UTF-8방식으로 인코딩되어 있습니다. */
@import url(default.css);
@font-face { 
    font-family:'ey1945'; 
    src:url('../fonts/Eulyoo1945-Regular.woff') format('woff'); 
    font-weight:400; 
    font-style:normal; 
}
@font-face { 
    font-family:'ey1945'; 
    src:url('../fonts/Eulyoo1945-Regular.woff2') format('woff2'); 
    font-weight:400; 
    font-style:normal; 
}
@font-face { 
    font-family:'ey1945'; 
    src:url('../fonts/Eulyoo1945-SemiBold.woff') format('woff'); 
    font-weight:700; 
    font-style:normal; 
}
@font-face { 
    font-family:'ey1945'; 
    src:url('../fonts/Eulyoo1945-SemiBold.woff2') format('woff2'); 
    font-weight:700; 
    font-style:normal; 
}

*::selection{
    background-color: #674126;
    color: #fff;
}
*::-moz-selection { /* 호환성을 위한 코드 */
    background-color: #674126;
    color: #fff;
}

html, body {
    font-family: 'ey1945', serif; /* 서체 serif 명조 sans-serif 고딕 */
    font-size: 15px; 
    color: #3d3d3d;
    font-weight: 400;
    line-height: 1.2; 
    word-break: keep-all;
    word-wrap: break-word; /* 만약 단어가 엄청 길면 분리해서 줄바꿈 */
}
.wrapper { /* 홈페이지 넓이를 제한하고 가운데 정렬 */
    width: 1280px;
    margin: 0 auto; /* 가운데 정렬 */
}
#wrap { /* id="wrap"에 적용되는 스타일 */
    min-width: 1280px;  
    /* PC형에서 wrapper사이즈보다 브라우저 넓이가 작을때
        가로스크롤바가 생성되고, 오른쪽에 background가 짤리는 현상이 생김.
        가로스크롤바가 생성되었을 때에도 홈페이지를 정상적으로
        서비스 하기 위해서 최소 넓이를 입력*/
    overflow: hidden;
    /* 콘텐츠 영역 밖에 나간 요소를 숨김 */
}

/* 640px 이하일 때 스타일 - 640 이하는 모바일 초과인 탭 */
@media screen and (max-width:640px){
    html, body {
        font-size: 13px; 
    }
    .wrapper { 
        width: auto;
        /* 모바일에서는 홈페이지의 넓이를 제한하면 안됨
            디바이스의 넓이에 맞춰서 꽉차게 나와야 하기 때문에
            그 안쪽으로 좌우 여백이 20px씩 들어가게 함.  */
        margin: 0 20px; 
    }
    #wrap { 
        min-width:auto;  /* 홈페이지의 최소넓이 제한하지 않음 */
    }
}/*media*/

.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    color: #fff;
    height: 100px;
    transition: 0.3s; 
    /* header에 나중에 마우스를 올리거나 class가 추가되거나 
        변화가 생겨서 스타일이 변경된다면 그때 천천히 변경되기 위해서 */
}
.header .inner {
    display: flex;
    justify-content: space-between;
}
.header .logo {
    margin: 34px 0 0 0;
}
.header .logo a {
    width: 190px;
    height: 32px;
    display: block;
    font-size: 0;
    line-height: 0;
    background: url(../images/logo_w.png) no-repeat center center / contain;
}
.header .gnb {
    margin: 0 0 0 120px;
}
.header .gnb .gnb_open,
.header .gnb .gnb_close {
    display: none;
}
.header .gnb ul.depth1 {
    display: flex;
}
.header .gnb ul.depth1 > li {
    width: 160px;
}
.header .gnb ul.depth1 > li > a {
    display: block;
    line-height: 100px;
    font-size: 22px;
    font-weight: 700;
}
.header .gnb ul.depth2 {
    margin-top: 30px;
    display: none;
}
.header .gnb ul.depth2 > li > a {
    display: block;
    font-size: 17px;
    line-height: 40px;
}
.header .tnb {
    display: flex;
}
.header .tnb .login,
.header .tnb .search {
    width: 29px;
    height: 29px;
    margin: 38px 0 0 5px;
    font-size: 0;
    line-height: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25px auto;
}
.header .tnb .login {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 11.6923C11.0375 11.6923 10.2135 11.3496 9.52813 10.6642C8.84271 9.97879 8.5 9.15484 8.5 8.19236C8.5 7.22986 8.84271 6.40591 9.52813 5.72051C10.2135 5.03509 11.0375 4.69238 12 4.69238C12.9625 4.69238 13.7864 5.03509 14.4718 5.72051C15.1572 6.40591 15.5 7.22986 15.5 8.19236C15.5 9.15484 15.1572 9.97879 14.4718 10.6642C13.7864 11.3496 12.9625 11.6923 12 11.6923ZM4.5 19.3077V17.0846C4.5 16.5949 4.63302 16.1414 4.89905 15.7241C5.16507 15.3068 5.52051 14.986 5.96537 14.7616C6.95384 14.277 7.95096 13.9135 8.95672 13.6712C9.96249 13.4289 10.9769 13.3078 12 13.3078C13.023 13.3078 14.0375 13.4289 15.0432 13.6712C16.049 13.9135 17.0461 14.277 18.0346 14.7616C18.4794 14.986 18.8349 15.3068 19.1009 15.7241C19.3669 16.1414 19.5 16.5949 19.5 17.0846V19.3077H4.5ZM5.99997 17.8077H18V17.0846C18 16.8821 17.9413 16.6946 17.824 16.5221C17.7067 16.3497 17.5474 16.209 17.3461 16.1C16.4846 15.6757 15.6061 15.3542 14.7107 15.1356C13.8152 14.917 12.9117 14.8077 12 14.8077C11.0883 14.8077 10.1847 14.917 9.28927 15.1356C8.39384 15.3542 7.51536 15.6757 6.65382 16.1C6.45254 16.209 6.29325 16.3497 6.17595 16.5221C6.05863 16.6946 5.99997 16.8821 5.99997 17.0846V17.8077ZM12 10.1924C12.55 10.1924 13.0208 9.99653 13.4125 9.60486C13.8041 9.21319 14 8.74236 14 8.19236C14 7.64236 13.8041 7.17153 13.4125 6.77986C13.0208 6.38819 12.55 6.19236 12 6.19236C11.45 6.19236 10.9791 6.38819 10.5875 6.77986C10.1958 7.17153 9.99997 7.64236 9.99997 8.19236C9.99997 8.74236 10.1958 9.21319 10.5875 9.60486C10.9791 9.99653 11.45 10.1924 12 10.1924Z' fill='white'/%3E%3C/svg%3E%0A");
}
.header .tnb .search {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.5422 20.577L13.2615 14.2962C12.7615 14.7091 12.1865 15.0321 11.5365 15.2655C10.8865 15.4988 10.214 15.6155 9.51916 15.6155C7.80999 15.6155 6.36348 15.0237 5.17961 13.8401C3.99574 12.6566 3.40381 11.2104 3.40381 9.50169C3.40381 7.79296 3.99559 6.34628 5.17916 5.16167C6.36273 3.97707 7.80888 3.38477 9.51761 3.38477C11.2263 3.38477 12.673 3.9767 13.8576 5.16057C15.0422 6.34443 15.6345 7.79095 15.6345 9.50012C15.6345 10.2142 15.5147 10.8963 15.2749 11.5463C15.0352 12.1963 14.7153 12.7617 14.3153 13.2424L20.5961 19.5232L19.5422 20.577ZM9.51916 14.1155C10.8076 14.1155 11.899 13.6684 12.7932 12.7742C13.6874 11.8799 14.1346 10.7886 14.1346 9.50012C14.1346 8.21165 13.6874 7.1203 12.7932 6.22607C11.899 5.33183 10.8076 4.88472 9.51916 4.88472C8.23069 4.88472 7.13934 5.33183 6.24511 6.22607C5.35089 7.1203 4.90378 8.21165 4.90378 9.50012C4.90378 10.7886 5.35089 11.8799 6.24511 12.7742C7.13934 13.6684 8.23069 14.1155 9.51916 14.1155Z' fill='white'/%3E%3C/svg%3E%0A");
}
/* 브라우저가 스크롤되었을때 디자인 변경 */
.header.fixed { 
    background-color: #674126;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */
}

@media screen and (max-width:640px){
    .header {
        height: 50px;
    }
    .header .logo {
        margin: 16px 0 0 0;
    }
    .header .logo a {
        width: 105px;
        height: 18px;
    }
    .header .gnb {
        margin: 0;
    }
    .header .gnb .gnb_open,
    .header .gnb .gnb_close {
        position: absolute; /* header 기준으로 정렬 */
        right: 0;
        top: 0;
        width: 60px;
        height: 50px;
        font-size: 0;
        line-height: 0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 22px auto;
    }
    .header .gnb .gnb_open {
        display: block;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 19.0865V17.2115H22V19.0865H2ZM2 12.9807V11.1058H22V12.9807H2ZM2 6.87497V5H22V6.87497H2Z' fill='white'/%3E%3C/svg%3E%0A");
    }
    .header .gnb .gnb_close {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.40002 18.6538L5.34619 17.6L10.9462 12L5.34619 6.40002L6.40002 5.34619L12 10.9462L17.6 5.34619L18.6538 6.40002L13.0538 12L18.6538 17.6L17.6 18.6538L12 13.0538L6.40002 18.6538Z' fill='white'/%3E%3C/svg%3E%0A");
    }
    .header .gnb ul.depth1 {
        display: none;
    }
    .header .tnb {
        display: none;
    }
}/*m*/


.visual {
    position: relative;
}
.visual .swiper { 
    height:800px 
} 
.visual .swiper-slide img { 
    display:block; width:100%; height:100%; object-fit:cover; 
}
.visual .swiper .prev,
.visual .swiper .next {
    position: absolute; /* swiper 기준 */
    z-index: 10;
    top: 350px;
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
    line-height: 0;
}
.visual .swiper .prev {
    left: 10%;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M67.2243 90.2244L27 50.0002L67.2243 9.77588L73.1376 15.6892L38.8268 50.0002L73.1376 84.3111L67.2243 90.2244Z' fill='white' fill-opacity='0.2'/%3E%3C/svg%3E%0A");
}
.visual .swiper .next {
    right: 10%;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33.3975 90.2244L27.4841 84.3111L61.7951 50.0002L27.4841 15.6892L33.3975 9.77588L73.6217 50.0002L33.3975 90.2244Z' fill='white' fill-opacity='0.2'/%3E%3C/svg%3E%0A");
}
.visual .swiper .stop,
.visual .swiper .play {
    position: absolute; /* swiper 기준 */
    left: calc(50% + 30px);
    bottom: 31px;
    z-index: 10;
    width: 26px;
    height: 22px;
    font-size: 0;
    line-height: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.visual .swiper .stop {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.83646 13.1251H9.08644V6.87516H7.83646V13.1251ZM10.9134 13.1251H12.1633V6.87516H10.9134V13.1251ZM10.0013 17.9168C8.90635 17.9168 7.87716 17.709 6.91371 17.2935C5.95025 16.8779 5.11218 16.3139 4.3995 15.6016C3.68681 14.8892 3.12259 14.0515 2.70686 13.0885C2.29112 12.1255 2.08325 11.0965 2.08325 10.0015C2.08325 8.90659 2.29103 7.8774 2.70659 6.91396C3.12214 5.9505 3.6861 5.11243 4.39846 4.39975C5.11084 3.68705 5.94854 3.12284 6.91157 2.7071C7.87458 2.29137 8.90356 2.0835 9.9985 2.0835C11.0934 2.0835 12.1226 2.29127 13.0861 2.70683C14.0495 3.12239 14.8876 3.68634 15.6003 4.3987C16.313 5.11108 16.8772 5.94878 17.2929 6.91181C17.7087 7.87482 17.9165 8.9038 17.9165 9.99875C17.9165 11.0937 17.7088 12.1229 17.2932 13.0863C16.8777 14.0498 16.3137 14.8879 15.6013 15.6005C14.889 16.3132 14.0513 16.8774 13.0882 17.2932C12.1252 17.7089 11.0962 17.9168 10.0013 17.9168ZM9.9999 16.6668C11.861 16.6668 13.4374 16.021 14.7291 14.7293C16.0207 13.4376 16.6666 11.8613 16.6666 10.0001C16.6666 8.13903 16.0207 6.56264 14.7291 5.27098C13.4374 3.97931 11.861 3.33348 9.9999 3.33348C8.13879 3.33348 6.5624 3.97931 5.27073 5.27098C3.97906 6.56264 3.33323 8.13903 3.33323 10.0001C3.33323 11.8613 3.97906 13.4376 5.27073 14.7293C6.5624 16.021 8.13879 16.6668 9.9999 16.6668Z' fill='white' fill-opacity='0.7'/%3E%3C/svg%3E%0A");
}
.visual .swiper .play {
    display: none;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.12492 13.3655L13.3653 10.0001L8.12492 6.63479V13.3655ZM10.0013 17.9168C8.90635 17.9168 7.87716 17.709 6.91371 17.2935C5.95025 16.8779 5.11218 16.3139 4.3995 15.6016C3.68681 14.8892 3.12259 14.0515 2.70686 13.0885C2.29112 12.1255 2.08325 11.0965 2.08325 10.0015C2.08325 8.90659 2.29103 7.8774 2.70659 6.91395C3.12214 5.9505 3.6861 5.11243 4.39846 4.39975C5.11084 3.68705 5.94854 3.12284 6.91157 2.7071C7.87458 2.29137 8.90356 2.0835 9.9985 2.0835C11.0934 2.0835 12.1226 2.29127 13.0861 2.70683C14.0495 3.12239 14.8876 3.68634 15.6003 4.3987C16.313 5.11108 16.8772 5.94878 17.2929 6.91181C17.7087 7.87482 17.9165 8.9038 17.9165 9.99875C17.9165 11.0937 17.7088 12.1229 17.2932 13.0863C16.8777 14.0498 16.3137 14.8879 15.6013 15.6005C14.889 16.3132 14.0513 16.8774 13.0882 17.2932C12.1252 17.7089 11.0962 17.9168 10.0013 17.9168ZM9.9999 16.6668C11.861 16.6668 13.4374 16.021 14.7291 14.7293C16.0207 13.4376 16.6666 11.8613 16.6666 10.0001C16.6666 8.13903 16.0207 6.56264 14.7291 5.27098C13.4374 3.97931 11.861 3.33348 9.9999 3.33348C8.13879 3.33348 6.5624 3.97931 5.27073 5.27098C3.97906 6.56264 3.33323 8.13903 3.33323 10.0001C3.33323 11.8613 3.97906 13.4376 5.27073 14.7293C6.5624 16.021 8.13879 16.6668 9.9999 16.6668Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .swiper .pagination {
    position: absolute;
    left: calc(50% - 45px);
    bottom: 27px;
    z-index: 10;
    width: auto;
}
.visual .swiper .pagination .swiper-pagination-bullet {
    background: transparent;
    opacity: 1;
    border: 1px solid #fff;
    width: 15px;
    height: 15px;
    outline: 0;
    margin: var(--swiper-pagination-bullet-horizontal-gap,3px);
}
.visual .swiper .pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #fff;
}
.visual .visual_txt {
    position: absolute;
    left: calc(50% - 640px);
    top: 314px;
    width: 1280px;
    color: #fff;
    z-index: 10;
}
.visual .visual_txt h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 15px;
}
.visual .visual_txt p {
    font-size: 20px;
}
.visual .visual_txt span {
    position: absolute; /* visual_txt을 기준으로 정렬 */
    left: 81px;
    top: 98px;
    font-size: 100px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width:1780px){
    .visual .swiper .prev,
    .visual .swiper .next {
    width: 100px;
    height: 100px;
}
    .visual .swiper .prev {
    left: 5px;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M67.2243 90.2244L27 50.0002L67.2243 9.77588L73.1376 15.6892L38.8268 50.0002L73.1376 84.3111L67.2243 90.2244Z' fill='white' fill-opacity='0.2'/%3E%3C/svg%3E%0A");
}
    .visual .swiper .next {
    right: 5px;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33.3975 90.2244L27.4841 84.3111L61.7951 50.0002L27.4841 15.6892L33.3975 9.77588L73.6217 50.0002L33.3975 90.2244Z' fill='white' fill-opacity='0.2'/%3E%3C/svg%3E%0A");
}
}
@media screen and (max-width:1450px){
    .visual .swiper .prev,
    .visual .swiper .next {
    display: none;
}
}
@media screen and (max-width:640px){
    .visual .swiper { 
        height:300px 
    } 
    .visual .swiper .prev,
    .visual .swiper .next {
      display: none;
    }
    .visual .swiper .stop,
    .visual .swiper .play {
        position: absolute; /* swiper 기준 */
        left: calc(50% + 25px);
        bottom: 15px;
        width: 15px;
        height: 13px;
    }
    .visual .swiper .pagination {
        left: calc(50% - 20px);
        bottom: 11px;
    }
    .visual .swiper .pagination .swiper-pagination-bullet {
        background: transparent;
        opacity: 1;
        border: 1px solid #fff;
        width: 9px;
        height: 9px;
        outline: 0;
        margin: var(--swiper-pagination-bullet-horizontal-gap,2px);
    }
    .visual .swiper .pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background-color: #fff;
    }
    .visual .visual_txt {
        left: 20px;
        top: 104px;
        width: calc(100% - 40px);
    }
    .visual .visual_txt h2 {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .visual .visual_txt p {
        font-size: 13px;
    }
    .visual .visual_txt span {
        left: 128px;
        top: 52px;
        font-size: 40px;
    }
}/*m*/

.book {
    margin: 150px 0 0 0;
}
.book .inner {
    position: relative; /* more 정렬의 기준 */
}
/*
    왼쪽에 tit이 작게 있고
    오른쪽에 list가 콘텐츠 영역(wrapper) 밖으로 나가야함
    그럼 tit에 아무리 넓이를 줘도 tit의 공간이 확보가 안됨
    flex는 무조건 공간에 구겨서라도 넣으려고 하기 때문에
    왼쪽에 있는 요소를 float:left를 줘서 부요요소로 만듬
    (오른쪽에 있는 list는 tit을 인식하지 못함 - tit은 공간을 차지하지 않음)
    list는 왼쪽에 tit 공간 포함해서 여백을 줘야함 (반드시 margin으로)
*/
.book .tit {
    float: left;
}
.book .tit h2 {
    color: #231815;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
}
.book .tit p {
    color: #231815;
}
.book .list {
    margin: 0 0 0 327px;
}
.book .list ul {
    display: flex;
    justify-content: space-between;
    /* list의 사이즈 콘텐츠 영역의 넓이보다 큼
        그럼 정상적으로 나타나려면 ul에 넓이를 줘야함 
        li 하나의 넓이 299px * li 갯수 4      299*4 = 1,196
        li 사이의 여백 28px * li 갯수 -1 (3)  28*3 = 84 
        합 1196 + 84 = 1280 */
    width: 1280px;
}
.book .list ul li {
    width: 299px;
}
.book .list ul li a {
    display: block;
    /* a태그 안에 많은 태그가 존재하면 block을 주는게 좋음 */
}
.book .list ul li a span {
    display: block;
    height: 422px;
    border: 1px solid #ededed;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;  /* 이미지가 확대되었을때 밖으로 나가는것 막기 */
    transition: 0.5s; 
}
.book .list ul li a span img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.book .list ul li a:hover span {
    border: 1px solid #674126;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}
.book .list ul li a:hover span img {
    transform: scale3d(1.2, 1.2, 1);
}
.book .list ul li a h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0 10px 0;
    color: #231815;
    /* 한줄만 허용하는 코드 */
    white-space: nowrap; /* 줄바꿈 금지 */
    overflow: hidden;
    text-overflow: ellipsis;
}
.book .list ul li a p {
    /* 여러줄로 줄수를 제한하는 경우 */
    line-height: 1.2;
    height: 2.4em; /* 행간 * 줄수 */
    overflow: hidden;
    color: #231815;
}
.book .more {
    position: absolute; /* inner를 기준으로 */
    left: 0;
    top: 204px;
}
.book .more a {
    width: 150px;
    line-height: 40px;
    border: 1px solid #999;
    display: block;
    padding: 0 0 0 14px;
    position: relative; /* after 정렬의 기준 */
    transition: 0.3s;
}
.book .more a::after {
    position: absolute; /* a를 기준으로 정렬 */
    right: 8px;
    top: 11px;
    width: 15px;
    height: 15px;
    content: "";
    transition: 0.3s;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.00956 13.5336L4.12256 12.6466L9.2692 7.49995L4.12256 2.35331L5.00956 1.46631L11.0432 7.49995L5.00956 13.5336Z' fill='%23777777'/%3E%3C/svg%3E%0A");
}
.book .more a:hover {
    background-color: #674126;
    border: 1px solid #674126;
    color: #fff;
}
.book .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.00956 13.5336L4.12256 12.6466L9.2692 7.49995L4.12256 2.35331L5.00956 1.46631L11.0432 7.49995L5.00956 13.5336Z' fill='white'/%3E%3C/svg%3E%0A");
    animation-name: more; 
    animation-duration: 1.2s; 
    animation-iteration-count: infinite; 
    animation-timing-function: linear;
}
@keyframes more {
    0% { transform:translate(0, 0) }
    50% { transform:translate(-6px, 0) }
    100% { transform:translate(0, 0) }
}

@media screen and (max-width:640px){
    .book {
        margin: 50px 0 0 0;
    }
    .book .tit {
        float: none;
        margin: 0 75px 0 0;
    }
    .book .tit h2 {
        font-size: 25px;
        margin-bottom: 8px;
    }
    .book .tit br { /* br태그를 없애서 줄바꿈을 삭제함 */
        display: none;
    }
    .book .tit p {
        font-size: 13px;
    }
    .book .list {
        margin: 15px 0 0 0;
        overflow-x: auto;
    }
    .book .list ul {
        /* list의 사이즈 콘텐츠 영역의 넓이보다 큼
            그럼 정상적으로 나타나려면 ul에 넓이를 줘야함 
            li 하나의 넓이 168px * li 갯수 4      168*4 = 672
            li 사이의 여백 15px * li 갯수 -1 (3)  15*3 = 45 
            합 672 + 45 = 717 */
        width: 717px;
    }
    .book .list ul li {
        width: 168px;
    }
    .book .list ul li a span {
        height: 237px;
    }
    .book .list ul li a h3 {
        font-size: 15px;
        margin: 10px 0 10px 0;
    }
    .book .list ul li a p {
        font-size: 13px;
    }
    .book .more {
        /* pc버전에서는 left로 배치, 모바일에서는 right로 배치
        left와 right가 동시에 선언되면 적용안됨
        그래서 left를 auto로 해제하고 right를 줘야함 */
        left: auto;
        right: 0;
        top: 21px;
    }
    .book .more a {
        width: 55px;
        line-height: 28px;
        font-size: 13px;
        border-radius: 20px;
        padding: 0;
        text-align: center;
    }
    .book .more a::after {
        display: none;
    }
}/*m*/

.interview {
    margin: 150px 0 0 0;
    background-color: #f4f4f4;
}
.interview .tit {
    padding: 100px 0 0 0;
    text-align: center;
}
.interview .tit h2 {
    font-size: 50px;
    font-weight: 700;
    color: #231815;
    margin-bottom: 10px;
}
.interview .tit p {
    color: #231815;
}
.interview .list {
    margin: 70px 0 0 0;
}
.interview .list ul {
    display: flex;
    justify-content: space-between;
}
.interview .list ul li {
    width: 408px;
}
.interview .list ul li:nth-child(2) {
    margin-top: 40px;
}
.interview .list ul li a {
    display: block;
}
.interview .list ul li a .photo {
    border-radius: 60px 0 60px 0;
    overflow: hidden;
    /* 이미지를 감싸는 요소에 border-radius를 주는 경우
        overflow:hidden;을 꼭 줘야 이미지가 짤림 */
    font-size: 0;
    line-height: 0;
}
/* 디자인상 두번째 li의 스타일이 다르다면 css에서도 nth-child로 선택한다 */
.interview .list ul li:nth-child(2) a .photo {
    border-radius: 0 60px 0 60px;
}
.interview .list ul li a .photo img {
    filter: grayscale(100%); /* 흑백 */
}