@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url(../fonts/Pretendard-Regular.woff2) format('woff2'), url(../fonts/Pretendard-Regular.woff) format('woff');
    }         
@font-face {
        font-family: 'Pretendard';
        font-weight: 800;
        font-display: swap;
        src: local('Pretendard ExtraBold'), url(../fonts/Pretendard-ExtraBold.woff2) format('woff2'), url(../fonts/) format('woff');
    }
html, body {
    font-family: 'Pretendard', sans-serif;
    font-size: 15px; 
    color: #3d3d3d;
    font-weight: 400;
    line-height: 1.4; 
    word-break: keep-all;
    /* letter-spacing: -0.05em; */
}
.wrapper { /* 홈페이지 넓이를 제한하고 가운데 정렬 */
    width: 1280px;
    margin: 0 auto; /* 가운데 정렬 */
}
#wrap { /* id="wrap"에 적용되는 스타일 */
    min-width: 1280px;  
    /* PC형에서 wrapper사이즈보다 브라우저 넓이가 작을때
        가로스크롤바가 생성되고, 오른쪽에 background가 짤리는 현상이 생김.
        가로스크롤바가 생성되었을 때에도 홈페이지를 정상적으로
        서비스 하기 위해서 최소 넓이를 입력*/
}
/* 태그초기화 - 태그의 기본스타일 제거 */
* { 
    padding: 0; /* 모든 태그의 여백삭제 */
    margin: 0;
    box-sizing: border-box;
    /* padding하고 border는 넓이를 늘리는 요소인데 
        넓이를 늘리지 않도록 하는 속성 */
}
/* 다중선택자 쉼표로 연결한 선택자 모두에게 
    동일한 스타일을 적용할때 사용 */
ul, ol, li {
    list-style: none; /* ul li 앞의 동그라미 삭제 */
}
a { /* a태그는 파란색에 underline이 기본적으로 생성됨 */
    text-decoration: none; /* underline 제거 */
    color: inherit; /* 색상은 상속받아 - 파란색 말고 누군가가 상속해준 스타일을 적용 */
}
address, em {
    /* em태그와 address태그는 기본적으로 글자가 기울어짐
        최근 기울어짐 디자인을 하지 않음 */
    font-style: normal;
}
/* 글자를 두껍게 하고 글자크기를 조정하는 태그 -
    body가 선언한 속성대로 적용될 수 있도록 초기화 
    브라우저가 기본적으로 적용한 스타일이 적용되지 않도록 막기 */
h1, h2, h3, h4, h5, h6, strong {
    font-size: inherit;
    font-weight: inherit;
}

.header {
    /* body를 기준으로 정렬 
        position값을 주면 (예외 relative) block요소라도 
        콘텐츠가 존재하는 만큼만 넓이값이 있음..
        block요소는 원래 넓이가 100%임. (코딩시 기대 X) */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; /* header가 absolute면 width:100% 필수 */
    height: 100px;
    color: #fff;
} 
.header .logo {
    float: left;
    margin-top: 32px;
}
.header .gnb {
    float: right;
}
.header .gnb ul {
    display: flex;
    font-weight: 800;
}
.header .gnb ul li a {
    font-size: 22px;
    padding: 34px 25px;
    display: block;
}
.visual {
    /* 넓이와 높이는 제한이기 때문에 신중하게..
    배경이 내부 콘텐츠만큼 늘어나는게 아니라 엄청 큼.
    이 배경이미지를 모두 보이도록 하려고 */
    height: 900px;
    background: url(../images/visual_bg.png) center center no-repeat;
    border-radius: 0 0 200px 0; /* 시계방향 - 왼쪽상단 */
    /* 이미지를 모서리 둥글게 디자인했다면 대부분
        이미지를 네모 반듯하게 저장하고 
        css에서 둥글게 처리하는 경우가 많음 */
}
.visual h2 {
    text-align: center;
    padding: 303px 0 0 0;
}
.visual .photo {
    width: 120px;
    height: 120px;
    background-color: #1F7FFF;
    color: #fff;
    display: block;
    border-radius: 100%;
    /* 동그라미는 넓이와 높이를 주고 border-radius:100%로 줌. */
    box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
} 
.visual .photo i {
    padding: 28px 0 0 0;
    display: block;
}
.visual .photo span {
    display: block;
    /* i태그와 span태그 모두 inline태그라 줄바꿈이 안됨.
        이때 span태그에 block을 주면 넓이가 100%가 되서 줄이 바뀜. */
        font-weight: 800;
        line-height: 1.2;
}