@import url(default.css);
@import url(common.css);
@import url(layout.css);

/*****
    파일명 : main.css
    작성자 : 이유경
    작성일 : 2024.03.14
    설  명 : 메인페이지에만 들어가는 스타일을 저장 (header, footer 빼고 전부 다 )
*****/
@media screen and (max-width:1600px){
   section .wrapper {
      width: 1000px;
      margin: 0 auto;
   }
}
@media screen and (max-width:1320px){
   section .wrapper {
      width: auto;
      margin: 0 150px;
   }
}
@media screen and (max-width:1024px){
   section .wrapper {
      width: auto;
      margin: 0 40px;
   }
}
@media screen and (max-width:769px){
   section .wrapper {
      width: auto;
      margin: 0 20px;
   }
}
.visual, 
.visual .swipe, 
.visual ul li .photo {
   height: 100vh;  /* 팝업의 높이제어 */
}
.visual ul li .tit {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 1280px;
   z-index: 10;
   color: #fff;
   font-size: 20px;
   text-align: center;
}
.visual ul li .tit h2 {
   font-size: 60px;
   font-weight: 700;
   margin-bottom: 10px;
}
.visual ul li .tit a {
   display: inline-block;
   margin-top: 27px;
   font-size: 20px;
   border: 2px solid #fff;
   border-radius: 25px;
   padding: 9px 50px;
}
.visual ul li .photo img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
/* visual 이미지가 보일때 애니메이션 작동 */
.visual ul li.swiper-slide-active .photo img {
   animation-name: visual_img;
   animation-duration: 3s;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
}
@keyframes visual_img { /* 애니메이션을 효과를 미리 설정함 */
	0% { transform:scale3d(1.2 ,1.2 ,1) }  /* 애니메이션을 시작할때의 속성 */
	100% { transform:scale3d(1, 1, 1) } /* 애니메이션이 종료될때의 속성 */
}
.visual ul li.swiper-slide-active .tit h2,
.visual ul li.swiper-slide-active .tit p,
.visual ul li.swiper-slide-active .tit a {
   animation-name: visual_tit;
   animation-duration: 1s;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
   opacity: 0;
}
.visual ul li.swiper-slide-active .tit p {
   animation-delay: 0.3s;
}
.visual ul li.swiper-slide-active .tit a {
   animation-delay: 0.6s;
}
@keyframes visual_tit { /* 애니메이션을 효과를 미리 설정함 */
	0% { transform:translate(0, 50px); opacity: 0; }  /* 애니메이션을 시작할때의 속성 */
	100% { transform:translate(0, 0); opacity: 1; } /* 애니메이션이 종료될때의 속성 */
}
.visual .paging {
   position: absolute;
   left: calc(50% - 640px);
   bottom: 85px;
   z-index: 11;
   color: #fff;
   width: 1280px;
   display: flex;
}
.visual .paging > span {
   display: block;
   width: 33.33%;
   height: 10px;
   background-color: rgba(255, 255, 255, 0.2);
   position: relative;
   opacity: 1;
   border-radius: 0;
   margin: 0 !important;
}
.visual .paging > span:first-child {
   border-radius: 5px 0 0 5px;
}
.visual .paging > span:last-child {
   border-radius:  0 5px 5px 0;
}
.visual .paging > span > span {
   position: absolute;
   left: 0;
   top: -27px;
   font-size: 17px;
}
.visual .paging > span.swiper-pagination-bullet-active {
   background-color: #fff;
   border-radius: 5px;
}
.visual .paging > span.swiper-pagination-bullet-active > span {
   font-weight: 700;
   padding-left: 20px;
   position: relative;
}
.visual .paging > span.swiper-pagination-bullet-active > span::after {
   position: absolute;
   left: 6px;
   top: 6px;
   width: 8px;
   height: 8px;
   border-radius: 100%;
   background-color: #fff;
   content: "";
}
.visual .paging .page1 span::before {
   content: "생명의 숲은";
}
.visual .paging .page2 span::before {
   content: "후원안내";
}
.visual .paging .page3 span::before {
   content: "그린짐 참여신청";
}
@media screen and (max-width:1550px){
   .visual .paging {
      bottom: 60px;
   }
}
@media screen and (max-width:1320px){
   .visual ul li .tit {
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% - 200px);
      font-size: 25px;
   }
   .visual ul li .tit h2 {
      font-size: 50px;
      margin-bottom: 8px;
   }
   .visual ul li .tit a {
      font-size: 20px;
      padding: 7px 40px;
      margin-top: 25px;
   }
   .visual .paging {
      left: 20px;
      bottom: 30px;
      width: calc(100% - 40px);
   }
   .visual .paging > span > span {
      font-size: 15px;
   }
}
@media screen and (max-width:1024px){
   .visual ul li .tit {
      font-size: 20px;
   }
   .visual ul li .tit h2 {
      font-size: 40px;
      margin-bottom: 5px;
   }
   .visual ul li .tit a {
      font-size: 17px;
      padding: 5px 35px;
      margin-top: 20px;
   }
   .visual .paging {
   
   }
}
@media screen and (max-width:768px){
   .visual ul li .tit {
      font-size: 18px;
   }
   .visual ul li .tit h2 {
      font-size: 35px;
      margin-bottom: 5px;
   }
   .visual ul li .tit a {
      font-size: 15px;
      padding: 5px 30px;
      margin-top: 20px;
   }
}
@media screen and (max-width:500px){
   .visual ul li .tit {
      font-size: 15px;
   }
   .visual ul li .tit h2 {
      font-size: 32px;
      margin-bottom: 3px;
   }
   .visual ul li .tit a {
      font-size: 13px;
      padding: 5px 20px;
      margin-top: 15px;
   }
   .visual .paging > span {
      width: 33.33%;
      height: 5px;
   }
   .visual .paging .page1 span::before,
   .visual .paging .page2 span::before,
   .visual .paging .page3 span::before {
      display: none;
   }
   .visual .paging > span.swiper-pagination-bullet-active > span::after {
      display: none;
   }
}

aside.quick {
   position: fixed;
   right: 50px;
   bottom: 85px;
   z-index: 100;
}
aside.quick ul li {
   margin-top: 5px;
}
aside.quick ul li a {
   display: block;
   width: 70px;
   height: 70px;
   border-radius: 35px;
   background-color: #4BC9DF;
   color: #fff;
   font-size: 13px;
   padding-top: 39px;
   text-align: center;   
   position: relative;  /* before */
   box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
aside.quick ul li.top a {
   background-color: #2691D9;
}
aside.quick ul li a::before {
   position: absolute;
   left: 0;
   top: 5px;
   width: 100%;
   height: 39px;
   content: "";
   background-position: center center;
   background-repeat: no-repeat;
}
aside.quick ul li.donation a::before {
   background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0049 22.0026C6.48204 22.0026 2.00488 17.5255 2.00488 12.0026C2.00488 6.47984 6.48204 2.00269 12.0049 2.00269C17.5277 2.00269 22.0049 6.47984 22.0049 12.0026C22.0049 17.5255 17.5277 22.0026 12.0049 22.0026ZM12.0049 20.0026C16.4232 20.0026 20.0049 16.4209 20.0049 12.0026C20.0049 7.58441 16.4232 4.00269 12.0049 4.00269C7.5866 4.00269 4.00488 7.58441 4.00488 12.0026C4.00488 16.4209 7.5866 20.0026 12.0049 20.0026ZM8.50488 14.0026H14.0049C14.281 14.0026 14.5049 13.7788 14.5049 13.5026C14.5049 13.2265 14.281 13.0026 14.0049 13.0026H10.0049C8.62417 13.0026 7.50488 11.8834 7.50488 10.5026C7.50488 9.12197 8.62417 8.00269 10.0049 8.00269H11.0049V6.00269H13.0049V8.00269H15.5049V10.0026H10.0049C9.72874 10.0026 9.50488 10.2265 9.50488 10.5026C9.50488 10.7788 9.72874 11.0026 10.0049 11.0026H14.0049C15.3856 11.0026 16.5049 12.1219 16.5049 13.5026C16.5049 14.8834 15.3856 16.0026 14.0049 16.0026H13.0049V18.0026H11.0049V16.0026H8.50488V14.0026Z' fill='white'/%3E%3C/svg%3E%0A");
}
aside.quick ul li.my a::before {
   background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 7C6 3.68629 8.68629 1 12 1C15.3137 1 18 3.68629 18 7C18 7.26214 17.9831 7.5207 17.9504 7.77457C19.77 8.80413 21 10.7575 21 13C21 16.3137 18.3137 19 15 19H13V22H11V19H8.5C5.46243 19 3 16.5376 3 13.5C3 11.2863 4.30712 9.37966 6.19098 8.50704C6.06635 8.02551 6 7.52039 6 7ZM7.00964 10.3319C5.82176 10.8918 5 12.1008 5 13.5C5 15.433 6.567 17 8.5 17H15C17.2091 17 19 15.2091 19 13C19 11.3056 17.9461 9.85488 16.4544 9.27234L15.6129 8.94372C15.7907 8.30337 16 7.67183 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 8.30783 8.6266 9.46903 9.60019 10.2005L8.39884 11.7995C7.85767 11.3929 7.38716 10.8963 7.00964 10.3319Z' fill='white'/%3E%3C/svg%3E%0A");
}
aside.quick ul li.youtube a::before {
   background-image: url("data:image/svg+xml,%3Csvg width='26' height='17' viewBox='0 0 26 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_30_14)'%3E%3Cpath d='M24.9978 5.46707C24.9978 2.78248 22.6539 0.611572 19.7703 0.611572H6.39206C3.50837 0.611572 1.16455 2.7886 1.16455 5.46707V11.246C1.16455 13.9306 3.50837 16.1015 6.39206 16.1015H19.7637C22.6539 16.1015 24.9912 13.9245 24.9912 11.246V5.46707H24.9978ZM17.1302 8.79377L11.1324 11.5517C10.8953 11.6679 10.0987 11.5089 10.0987 11.2643V5.60773C10.0987 5.357 10.9019 5.198 11.1389 5.32031L16.88 8.21893C17.1236 8.34735 17.3738 8.67146 17.1302 8.79377Z' stroke='white' stroke-width='2' stroke-miterlimit='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_30_14'%3E%3Crect width='25.15' height='16.7191' fill='white' transform='translate(0.506348)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
aside.quick ul li.insta a::before {
   background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_30_17)'%3E%3Cpath d='M15.2904 3.57007C14.6448 3.57007 14.1172 4.09771 14.1172 4.74324C14.1172 5.38876 14.6448 5.91641 15.2904 5.91641C15.9359 5.91641 16.4635 5.38876 16.4635 4.74324C16.4635 4.09771 15.9359 3.57007 15.2904 3.57007Z' fill='white'/%3E%3Cpath d='M10.0815 5.07446C7.3647 5.07446 5.15869 7.28608 5.15869 9.99728C5.15869 12.7085 7.37031 14.9201 10.0815 14.9201C12.7927 14.9201 15.0043 12.7085 15.0043 9.99728C15.0043 7.28608 12.7927 5.07446 10.0815 5.07446ZM10.0815 13.1519C8.3414 13.1519 6.92686 11.7374 6.92686 9.99728C6.92686 8.25717 8.3414 6.84264 10.0815 6.84264C11.8216 6.84264 13.2362 8.25717 13.2362 9.99728C13.2362 11.7374 11.8216 13.1519 10.0815 13.1519Z' fill='white'/%3E%3Cpath d='M13.9882 20H6.00617C2.69436 20 0 17.3056 0 13.9938V6.01179C0 2.69436 2.69436 0 6.00617 0H13.9882C17.3 0 19.9944 2.69436 19.9944 6.00617V13.9882C19.9944 17.3 17.3 19.9944 13.9882 19.9944V20ZM6.00617 1.88044C3.73281 1.88044 1.88044 3.73281 1.88044 6.00617V13.9882C1.88044 16.2616 3.73281 18.1139 6.00617 18.1139H13.9882C16.2616 18.1139 18.1139 16.2616 18.1139 13.9882V6.00617C18.1139 3.73281 16.2616 1.88044 13.9882 1.88044H6.00617Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_30_17'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
aside.quick ul li.top a::before {
   background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0001 13.9142L16.793 18.7071L18.2072 17.2929L12.0001 11.0858L5.79297 17.2929L7.20718 18.7071L12.0001 13.9142ZM6.00007 7H18.0001V9H6.00007V7Z' fill='white'/%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1550px){
   aside.quick {
      right: 10px;
   }
}
@media screen and (max-width:1024px){
   aside.quick {
      display: none;
   }
}
.tree .tit {
   width: 552px;
}
.tree .number {
   display: flex;
   color: #76DBD3;
}
.tree .number strong {
   font-size: 150px;
   font-weight: 700;
}
.tree .number .plus {
   font-size: 80px;
   margin-top: -20px;
}
.tree h2 {
   font-size: 30px;
   font-weight: 700;
   margin: 20px 0 8px 0;
}
.tree p {
   margin-right: 50px;
}
.tree .photo img {
   position: absolute;
   bottom: 0;
   right: 0;
   width: 830px;
   height: 738px;
}
@media screen and (max-width:1600px){
   .tree .tit {
      width: 400px;
   }
   .tree .number strong {
      font-size: 120px;
   }
   .tree .number .plus {
      font-size: 60px;
      margin-top: -20px;
   }
   .tree h2 {
      font-size: 28px;
      margin: 15px 0 7px 0;
   }
   .tree p {
      margin-right: 30px;
   }
   .tree .photo img {
      right: -105px;
      width: 800px;
      height: 711px;
   }
}
@media screen and (max-width:1320px){
   .tree .photo img {
      right: -353px;
   }
}
@media screen and (max-width:1024px){
   .tree .tit {
      width: 400px;
   }
   .tree .number strong {
      font-size: 100px;
   }
   .tree .number .plus {
      font-size: 60px;
      margin-top: -20px;
   }
   .tree h2 {
      margin: 15px 0 7px 0;
   }
   .tree p {
      margin-right: 30px;
   }
   .tree .photo img {
      right: -353px;
      width: 700px;
      height: 622px;
   }
}
@media screen and (max-width:768px){
   .tree {
      min-height: auto !important;
   }
   .tree .tit {
      margin: 70px 0 80px 0;
      width: 250px;
   }
   .tree .number strong {
      font-size: 70px;
   }
   .tree p {
      margin-right: 20px;
   }
   .tree .photo img {
      right: -103px;
      width: 250px;
      height: 222px;
   }
}
@media screen and (max-width:500px){
   .tree .photo img {
      right: -103px;
      width: 250px;
      height: 222px;
   }
}

.biz {
   background: url(../images/main/biz_bg.png) no-repeat center center / cover;
   color: #fff;
}
.biz .wrapper {
   padding: 30px 0;
}
.biz .inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.biz .tit {
   width: 45%;
}
.biz .tit h2 {
   font-size: 58px;
   line-height: 1.2;
}
.biz .tit h2 strong {
   font-weight: 700;
}
.biz .tit p {
   width: calc(100% - 55px);
   margin-top: 15px;
}
.biz .list {
   width: 50%;
   min-width: 500px;
}
.biz .list ul {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.biz .list ul li {
   width: calc(50% - 10px);
   height: 220px;
   background-color: #0E678D;
   border-radius: 20px;
   margin-bottom: 20px;
   transition: 0.5s;
   overflow: hidden;
}
.biz .list ul li:nth-child(odd) {
   transform: translate(0,30px);
}
.biz .list ul li a {
   display: block;
   height: 220px;
   padding: 154px 0 30px 40px;
   font-size: 30px;
   color: #fff;
   position: relative; /* before */
}
.biz .list ul li a::before {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   content: "";
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   opacity: 0;
   transition: 0.5s;
}
.biz .list ul li.biz01 a::before {
   background-image: url(../images/main/biz01.png);
}
.biz .list ul li.biz02 a::before {
   background-image: url(../images/main/biz02.png);
}
.biz .list ul li.biz03 a::before {
   background-image: url(../images/main/biz03.png);
}
.biz .list ul li.biz04 a::before {
   background-image: url(../images/main/biz04.png);
}
.biz .list ul li.biz05 a::before {
   background-image: url(../images/main/biz05.png);
}
.biz .list ul li.biz06 a::before {
   background-image: url(../images/main/biz06.png);
}
.biz .list ul li a:hover::before {
   opacity: 1;
}
.biz .list ul li a span {
   position: relative;
}
.biz .list ul li a span::before {
   position: absolute;
   left: 0;
   bottom: 55px;
   width: 95px;
   height: 90px;
   content: "";
   background-position: left center;
   background-repeat: no-repeat;
}
.biz .list ul li.biz01 a span::before {
   background-image: url("data:image/svg+xml,%3Csvg width='82' height='90' viewBox='0 0 82 90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.8' clip-path='url(%23clip0_86_1268)'%3E%3Cpath d='M70.8525 16.0113C70.376 16.0113 69.8994 16.4878 69.8994 16.9643V74.9418C69.8994 82.1532 63.9746 88.078 56.7632 88.078H41.8638V79.9135L47.6298 75.593C48.1063 75.2753 48.7575 75.2753 49.0752 75.7519C49.3929 76.2284 49.3929 76.8796 48.9164 77.1973L43.3093 81.359H48.281C56.2867 81.359 62.688 75.1165 63.3393 67.2697H56.2867C55.1589 67.2697 54.047 67.4285 52.9192 67.5874C52.6015 67.7462 52.2838 67.7462 51.9662 67.905C47.1691 69.3505 43.1504 73.1945 41.8797 78.1504V64.8553L47.6457 60.5348C48.1222 60.2171 48.7734 60.2171 49.0911 60.6936C49.4088 61.1701 49.4088 61.8214 48.9323 62.1391L43.3251 66.3007H48.2969C49.4247 66.3007 50.5366 66.1419 51.6644 65.9831C51.982 65.8242 52.2997 65.8242 52.6174 65.6654C58.5422 63.9022 62.8627 58.6128 63.3393 52.2114H56.2867C55.1589 52.2114 54.047 52.3703 52.9192 52.5291C52.6015 52.688 52.2838 52.688 51.9662 52.8468C46.9944 54.2923 43.1504 58.1363 41.8797 63.0921V49.797L47.6457 45.4765C48.1222 45.1588 48.7734 45.1588 49.0911 45.6354C49.4088 46.1119 49.4088 46.7631 48.9323 47.0808L43.3251 51.2425H48.2969C49.4247 51.2425 50.5366 51.0837 51.6644 50.9248C51.982 50.766 52.2997 50.766 52.6174 50.6071C58.5422 48.844 62.8627 43.5545 63.3393 37.1532H56.2867C55.1589 37.1532 54.047 37.312 52.9192 37.4709C52.6015 37.6297 52.2838 37.6297 51.9662 37.7886C46.9944 39.234 43.1504 43.078 41.8797 48.0339V34.7388L47.6457 30.4183C48.1222 30.1006 48.7734 30.1006 49.0911 30.5771C49.4088 31.0537 49.4088 31.7049 48.9323 32.0226L43.3251 36.1843H48.2969C49.4247 36.1843 50.5366 36.0254 51.6644 35.8666C51.982 35.7077 52.2997 35.7077 52.6174 35.5489C58.5422 33.7857 62.8627 28.4963 63.3393 22.095H56.2867C55.1589 22.095 54.047 22.2538 52.9192 22.4126C52.6015 22.5715 52.2838 22.5715 51.9662 22.7303C46.9944 24.1758 43.1504 28.0198 41.8797 32.9756V19.6806L47.6457 15.36C48.1222 15.0424 48.7734 15.0424 49.0911 15.5189C49.4088 15.9954 49.4088 16.6467 48.9323 16.9643L43.3251 21.126H48.2969C49.4247 21.126 50.5366 20.9672 51.6644 20.8083C51.982 20.6495 52.2997 20.6495 52.6174 20.4906C58.5422 18.7275 62.8627 13.4381 63.3393 7.03671H56.2867C49.3929 7.03671 43.6428 11.6749 41.8797 17.9333V0.953053C41.8797 0.476527 41.4032 0 40.9266 0C40.4501 0 39.9577 0.476527 39.9577 0.953053V18.251C38.1945 12.0085 32.4286 7.35439 25.5507 7.35439H18.4981C18.9746 13.7557 23.2951 19.0452 29.22 20.8083C29.5376 20.8083 29.8553 20.9672 30.1889 21.126C31.3167 21.4437 32.4286 21.4437 33.5563 21.4437H38.5281L32.921 17.282C32.4445 16.9643 32.4445 16.329 32.7621 15.8366C33.0798 15.36 33.7152 15.36 34.2076 15.6777L39.9736 19.9982V33.2933C38.5281 28.3216 34.6841 24.4776 29.8871 23.048C29.5694 23.048 29.2517 22.8892 28.934 22.7303C27.8063 22.4126 26.6944 22.4126 25.5666 22.4126H18.514C18.9905 28.814 23.311 34.1034 29.2358 35.8666C29.5535 35.8666 29.8712 36.0254 30.2048 36.1843C31.3326 36.5019 32.4445 36.5019 33.5722 36.5019H38.544L32.9369 32.3403C32.4603 32.0226 32.4603 31.3872 32.778 30.8948C33.0957 30.4183 33.7311 30.4183 34.2235 30.736L39.9895 35.0565V48.3516C38.544 43.3798 34.7 39.5517 29.903 38.1062C29.5853 38.1062 29.2676 37.9474 28.9499 37.7886C27.8221 37.4709 26.7102 37.4709 25.5825 37.4709H18.5299C19.0064 43.8722 23.3269 49.1617 29.2517 50.9248C29.5694 50.9248 29.8871 51.0837 30.2207 51.2425C31.3484 51.5602 32.4603 51.5602 33.5881 51.5602H38.5599L32.9527 47.3985C32.4762 47.0808 32.4762 46.4455 32.7939 45.9531C33.1116 45.4765 33.747 45.4765 34.2394 45.7942L40.0053 50.1147V63.4098C38.5599 58.438 34.7159 54.5941 29.9189 53.1645C29.6012 53.1645 29.2835 53.0056 28.9658 52.8468C27.838 52.5291 26.7261 52.5291 25.5984 52.5291H18.5458C19.0223 58.9305 23.3428 64.2199 29.2676 65.9831C29.5853 65.9831 29.903 66.1419 30.2365 66.3007C31.3643 66.6184 32.4762 66.6184 33.604 66.6184H38.5758L32.9686 62.4568C32.4921 62.1391 32.4921 61.4878 32.8098 61.0113C33.1275 60.5348 33.7628 60.5348 34.2553 60.8525L40.0212 65.173V78.4681C38.5758 73.4963 34.7318 69.6682 29.9347 68.2227C29.6171 68.2227 29.2994 68.0639 28.9817 67.905C27.8539 67.5874 26.742 67.5874 25.6142 67.5874H18.5616C19.0382 75.4342 25.6142 81.6767 33.6199 81.6767H38.5916L32.9845 77.515C32.508 77.1973 32.508 76.5619 32.8257 76.0695C33.1434 75.593 33.7787 75.593 34.2711 75.9107L40.0371 80.2312V88.078H25.1377C17.9263 88.078 12.0015 82.1532 12.0015 74.9418V16.9802C12.0015 16.5037 11.5249 16.0272 11.0325 16.0272C10.5401 16.0272 10.0795 16.5037 10.0795 16.9802V74.9576C10.0795 83.281 16.7985 90.0159 25.1377 90.0159H57.0015C65.3248 90.0159 72.0597 83.2969 72.0597 74.9576V16.9802C71.9009 16.5037 71.4243 16.0272 70.9319 16.0272L70.8525 16.0113Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_86_1268'%3E%3Crect width='61.9802' height='90' fill='white' transform='translate(10)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.biz .list ul li.biz02 a span::before {
   background-image: url("data:image/svg+xml,%3Csvg width='81' height='90' viewBox='0 0 81 90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.8' clip-path='url(%23clip0_37_819)'%3E%3Cpath d='M39.0098 0.31158C38.8541 0.15579 38.5425 0 38.2309 0C37.9193 0 37.6077 0.15579 37.4519 0.31158C36.3458 1.57348 35.4111 2.66401 34.1492 4.0817C28.8056 10.2043 22.8388 17.1213 18.134 24.0228C12.7904 32.0305 10.1263 38.636 10.1263 44.2912C10.1263 59.3716 22.2157 71.7725 37.1404 72.4113V89.0653C37.1404 89.5326 37.6077 90 38.0751 90C38.5425 90 39.0254 89.5326 39.0254 89.0653V72.2555C54.1059 71.7881 66.0394 59.3716 66.0394 44.1354C66.0394 31.7345 53.7943 17.5887 42.9513 5.18781C41.8452 3.45854 40.4431 1.88506 39.0254 0.31158H39.0098ZM44.1977 30.161C44.5092 30.6284 44.3535 31.2671 43.8861 31.5787L39.4928 34.0869V40.0537L44.8364 36.9067C45.3038 36.5951 45.9425 36.7509 46.2541 37.2183C46.5657 37.6856 46.4099 38.3244 45.9425 38.636L39.5084 42.2503V48.6844L47.8276 43.9796C48.2949 43.668 48.9337 43.8238 49.2453 44.2912C49.5568 44.7585 49.4011 45.3973 48.9337 45.7088L39.3526 51.0524V57.8137L51.5977 50.7409C52.0651 50.4293 52.7038 50.5851 53.0154 51.0524C53.327 51.5198 53.1712 52.1586 52.7038 52.4701L39.5084 60.0104V70.2146H37.4675V60.0104L24.2721 52.4701C23.8047 52.1586 23.6489 51.5354 23.9605 51.0524C24.2721 50.5851 24.9108 50.4293 25.3782 50.7409L37.6233 57.8137V51.0524L28.3538 45.7088C27.8864 45.3973 27.7306 44.7741 28.0422 44.2912C28.3538 43.8238 28.977 43.668 29.4599 43.9796L37.7791 48.6844V42.2503L31.345 38.636C30.8776 38.3244 30.7218 37.7012 31.0334 37.2183C31.345 36.7509 31.9837 36.5951 32.4511 36.9067L37.7947 40.0537V33.9311L33.4014 31.4229C32.934 31.1113 32.7782 30.4881 33.0898 30.0052C33.4014 29.5378 34.0401 29.382 34.5075 29.6936L37.9661 31.7345V24.1942C37.9661 23.7268 38.4334 23.2595 38.9008 23.2595C39.3682 23.2595 39.8511 23.7268 39.8511 24.1942V31.7345L43.3097 29.6936C43.3097 29.5378 43.9328 29.6936 44.26 30.161H44.1977Z' fill='white'/%3E%3Cpath d='M80.4812 59.3718C80.4812 59.0602 80.1697 58.7486 79.7023 58.5928C79.2349 58.437 78.5962 58.437 78.1288 58.437C76.2437 58.437 74.3587 59.0602 73.0968 60.4779C71.3675 62.2071 70.7443 64.5596 71.2117 67.0678C71.2117 67.3794 71.5233 67.691 71.9907 67.8467C72.458 68.0025 73.0968 68.0025 73.5642 68.0025C75.4492 68.0025 77.3343 67.3794 78.5962 65.9617C80.3254 64.3882 80.9486 62.0358 80.4812 59.3718Z' fill='white'/%3E%3Cpath d='M55.1964 76.1812C54.5733 76.0254 53.7787 75.8696 53.1556 75.8696C51.5821 75.8696 49.8528 76.4928 48.4507 77.5989C48.1391 77.9105 47.9833 78.2221 48.1391 78.705C48.7623 81.2132 50.4916 83.0983 52.6882 83.737C53.3114 83.8928 54.1059 84.0486 54.729 84.0486C56.3025 84.0486 58.0318 83.4255 59.4339 82.3193C59.7455 82.0078 59.9013 81.6962 59.7455 81.2132C59.1223 78.8608 57.3931 76.9757 55.1964 76.1812Z' fill='white'/%3E%3Cpath d='M7.13514 68.3296C6.51198 68.1739 5.71745 68.0181 5.09429 68.0181C3.5208 68.0181 1.79153 68.6412 0.389421 69.7473C0.0778409 70.0589 -0.0779493 70.3705 0.0778409 70.8534C0.701002 73.3617 2.43027 75.2467 4.62691 75.8855C5.25008 76.0413 6.04461 76.1971 6.66777 76.1971C8.24125 76.1971 9.97052 75.5739 11.3726 74.4678C11.6842 74.1562 11.84 73.8446 11.6842 73.3617C11.0611 71.0092 9.48757 69.1242 7.13514 68.3296Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_37_819'%3E%3Crect width='80.637' height='90' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.biz .list ul li.biz03 a span::before {
   background-image: url("data:image/svg+xml,%3Csvg width='86' height='90' viewBox='0 0 86 90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.8' clip-path='url(%23clip0_35_247)'%3E%3Cpath d='M57.5866 30.4229C59.8502 30.4229 61.6322 28.6409 61.6322 26.3772C61.6322 24.1136 59.8502 22.3315 57.5866 22.3315C55.3229 22.3315 53.5409 24.1136 53.5409 26.3772C53.5409 28.6409 55.3229 30.4229 57.5866 30.4229Z' fill='white'/%3E%3Cpath d='M7.24048 38.5302H69.4025C71.6661 38.5302 73.7692 37.567 75.2301 35.6244C76.6911 33.8424 77.0122 31.5787 76.5305 29.3151C74.588 22.0265 70.7028 15.8777 65.6939 10.8688C63.9119 12.9719 61.4877 14.1117 58.7264 14.1117C53.7014 14.1117 49.6558 10.0661 49.6558 5.04109C49.6558 3.90124 49.8163 2.77744 50.2979 1.79813C46.5733 0.658282 42.6882 0.0161133 38.482 0.0161133C29.909 0.0161133 21.8177 2.76139 15.1713 7.62582C17.5955 9.24729 19.2169 12.1531 19.2169 15.2355C19.2169 20.2605 15.1713 24.3062 10.1463 24.3062C7.56156 24.3062 5.12132 23.1663 3.35536 21.4003C2.05496 23.8245 1.09171 26.5859 0.272944 29.3311C-0.369225 31.5948 0.112402 33.8584 1.57334 35.6404C2.87373 37.4225 4.97683 38.5463 7.24048 38.5463V38.5302ZM66.6411 28.8174C66.9622 27.6775 67.9415 27.0354 69.0653 27.3565C70.2052 27.6776 70.8473 28.6569 70.5263 29.7807C70.2052 30.9205 69.2259 31.5627 68.1021 31.2416C67.1388 31.081 66.4806 29.9412 66.6411 28.8174ZM57.5865 20.2284C60.99 20.2284 63.5748 22.9737 63.5748 26.3772C63.5748 29.7807 60.8295 32.5259 57.5865 32.5259C54.3436 32.5259 51.4378 29.7807 51.4378 26.3772C51.4378 22.9737 54.183 20.2284 57.5865 20.2284ZM44.4702 28.8174C44.7913 27.6775 45.7706 27.0354 46.8944 27.3565C48.0343 27.6776 48.6764 28.6569 48.3554 29.7807C48.0343 30.9205 47.055 31.5627 45.9312 31.2416C44.7913 31.081 44.1492 29.9412 44.4702 28.8174ZM40.4246 12.6187C40.7457 11.4788 41.725 10.8367 42.8488 11.1577C43.9886 11.4788 44.6308 12.4581 44.3097 13.5819C43.9886 14.7218 43.0093 15.364 41.8855 15.0429C40.7457 14.8823 40.1035 13.7425 40.4246 12.6187ZM31.1934 6.14883C33.457 6.14883 35.2391 7.93085 35.2391 10.1945C35.2391 12.4581 33.457 14.2402 31.1934 14.2402C28.9297 14.2402 27.1477 12.4581 27.1477 10.1945C27.1477 7.93085 28.9297 6.14883 31.1934 6.14883ZM32.1727 24.2741C34.918 24.2741 37.1977 26.5377 37.1977 29.299C37.1977 32.0604 34.934 34.324 32.1727 34.324C29.4114 34.324 27.1477 32.0604 27.1477 29.299C27.1477 26.5377 29.4114 24.2741 32.1727 24.2741ZM16.1506 28.8174C16.4717 27.6775 17.451 27.0354 18.5748 27.3565C19.7146 27.6776 20.3568 28.6569 20.0357 29.7807C19.7146 30.9205 18.7353 31.5627 17.6115 31.2416C16.4717 31.081 15.8295 29.9412 16.1506 28.8174Z' fill='white'/%3E%3Cpath d='M13.0681 40.4727C13.5497 44.9999 17.4349 48.564 22.1388 48.564H56.7838C61.4716 48.564 65.3567 44.9999 65.8544 40.4727H13.0681Z' fill='white'/%3E%3Cpath d='M31.1933 12.1369C32.3332 12.1369 33.2964 11.1736 33.2964 10.0338C33.2964 8.89392 32.3332 7.93066 31.1933 7.93066C30.0535 7.93066 29.0902 8.89392 29.0902 10.0338C29.0902 11.1736 30.0535 12.1369 31.1933 12.1369Z' fill='white'/%3E%3Cpath d='M9.98575 22.3314C13.8709 22.3314 17.1138 19.0885 17.1138 15.2034C17.1138 12.6186 15.6529 10.1784 13.3892 8.89404C9.8252 11.7999 6.75885 15.3639 4.3186 19.4096C5.619 21.1916 7.7221 22.3154 9.98575 22.3154V22.3314Z' fill='white'/%3E%3Cpath d='M58.5498 12.1371C60.6529 12.1371 62.756 11.1739 64.0564 9.55239C60.4923 6.46998 56.4467 4.04579 51.9194 2.42432C51.5983 3.22703 51.4377 4.20634 51.4377 5.00905C51.4377 8.89417 54.6807 12.1371 58.5658 12.1371H58.5498Z' fill='white'/%3E%3Cpath d='M32.1726 32.3655C33.7941 32.3655 35.255 31.0651 35.255 29.2831C35.255 27.5011 33.9546 26.2007 32.1726 26.2007C30.3906 26.2007 29.0902 27.5011 29.0902 29.2831C29.0902 31.0651 30.5511 32.3655 32.1726 32.3655Z' fill='white'/%3E%3Cpath d='M84.7664 88.0573H71.6501V58.7583C71.6501 58.2767 71.1684 57.7951 70.6707 57.7951C70.1731 57.7951 69.7075 58.2767 69.7075 58.7583V88.0573H63.5587V78.9867C63.5587 78.505 63.0771 78.0073 62.5955 78.0073C62.1138 78.0073 61.6322 78.489 61.6322 78.9867V88.0573H57.5865V70.8953C57.5865 70.4137 57.1049 69.916 56.6233 69.916C56.1417 69.916 55.66 70.3976 55.66 70.8953V88.0573H51.2933L45.6261 50.667H33.1681L27.5009 88.0573H16.0061C15.5245 88.0573 15.0428 88.5389 15.0428 89.0205C15.0428 89.5022 15.5245 89.9838 16.0061 89.9838H84.7985C85.2801 89.9838 85.7617 89.5022 85.7617 89.0205C85.7617 88.5389 85.4406 88.0573 84.7985 88.0573H84.7664Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_35_247'%3E%3Crect width='85.7456' height='90' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.biz .list ul li.biz04 a span::before {
   background-image: url("data:image/svg+xml,%3Csvg width='79' height='90' viewBox='0 0 79 90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.8' clip-path='url(%23clip0_26_1426)'%3E%3Cpath d='M31.1508 62.0995C28.3204 62.0995 24.7278 63.9813 21.7418 66.7962C20.6376 67.9004 19.7045 69.1446 18.9269 70.2488V59.9066C19.7045 60.3732 20.6532 60.6842 21.7418 60.6842C24.5568 60.6842 28.1648 58.8024 31.1508 55.9875C35.6921 51.4463 37.2628 45.8009 34.6034 43.1259C33.8258 42.3483 32.5661 41.8662 31.1508 41.8662C28.3204 41.8662 24.7278 43.748 21.7418 46.5629C20.6376 47.6671 19.7045 48.9113 18.9269 50.0155V39.6733C19.7045 40.1399 20.6532 40.4509 21.7418 40.4509C24.5568 40.4509 28.1648 38.5691 31.1508 35.7542C35.6921 31.213 37.2628 25.5676 34.6034 22.8926C33.8258 22.115 32.5661 21.6329 31.1508 21.6329C28.3204 21.6329 24.7278 23.5147 21.7418 26.3296C20.6376 27.4338 19.7045 28.678 18.9269 29.7822V22.8771C22.2239 22.0995 24.5723 17.3872 24.5723 11.4307C24.5723 5.0077 21.6019 -0.015625 17.9938 -0.015625C14.3857 -0.015625 11.4152 5.0077 11.4152 11.4307C11.4152 17.2317 13.7636 22.0995 17.0606 22.8771V29.7822C16.283 28.5225 15.3344 27.4338 14.2302 26.3296C11.2442 23.3436 7.65162 21.6329 4.82114 21.6329C3.4059 21.6329 2.16173 22.0995 1.36857 22.8926C-1.29083 25.552 0.264375 31.1974 4.82114 35.7542C7.80714 38.7402 11.3997 40.4509 14.2302 40.4509C15.3344 40.4509 16.2675 40.1399 17.0606 39.6733V50.0155C16.283 48.7558 15.3344 47.6671 14.2302 46.5629C11.2442 43.5769 7.65162 41.8662 4.82114 41.8662C3.4059 41.8662 2.16173 42.3327 1.36857 43.1259C-1.29083 45.7853 0.264375 51.4307 4.82114 55.9875C7.80714 58.9735 11.3997 60.6842 14.2302 60.6842C15.3344 60.6842 16.2675 60.3732 17.0606 59.9066V70.2488C16.283 68.989 15.3344 67.9004 14.2302 66.7962C11.2442 63.8102 7.65162 62.0995 4.82114 62.0995C3.4059 62.0995 2.16173 62.566 1.36857 63.3592C-0.0466664 64.7744 -0.357708 66.8117 0.419897 69.3156C1.04198 71.664 2.61274 74.0124 4.80559 76.2208C7.79159 79.2068 11.3841 80.9331 14.2146 80.9331C15.3188 80.9331 16.2519 80.622 17.0451 80.1554V89.0979C17.0451 89.5645 17.5117 90.0466 17.9782 90.0466C18.4448 90.0466 18.9269 89.58 18.9269 89.0979V80.1554C19.7045 80.622 20.6532 80.9331 21.7418 80.9331C24.5568 80.9331 28.1648 79.0512 31.1508 76.2208C33.1882 74.1834 34.7589 71.6796 35.5365 69.3156C36.3141 66.8117 36.0031 64.6034 34.6034 63.3592C33.8258 62.5816 32.5661 62.0995 31.1508 62.0995Z' fill='white'/%3E%3Cpath d='M64.4012 40.6065C67.2161 40.6065 70.8242 38.7247 73.8102 35.9097C75.8476 33.8724 77.4183 31.3685 78.1959 29.0046C78.9735 26.5007 78.6625 24.3079 77.2472 23.0481C76.4696 22.2705 75.2099 21.7884 73.7947 21.7884C70.9797 21.7884 67.3717 23.6702 64.3857 26.4852C63.2815 27.5894 62.3483 28.8335 61.5552 30.0932V22.8771C64.8522 22.0995 67.2006 17.3872 67.2006 11.4307C67.2006 5.0077 64.2146 -0.015625 60.622 -0.015625C57.0295 -0.015625 54.0435 5.0077 54.0435 11.4307C54.0435 17.2317 56.3919 22.0995 59.6889 22.8771V29.7822C58.9113 28.5225 57.9626 27.4338 56.874 26.3296C53.888 23.3436 50.2955 21.6329 47.465 21.6329C46.0497 21.6329 44.8056 22.0995 44.0124 22.8926C41.353 25.552 42.9082 31.1974 47.465 35.7542C50.4354 38.7402 54.0435 40.4509 56.874 40.4509C57.9782 40.4509 58.9113 40.1399 59.6889 39.6733V50.0155C58.9113 48.7558 57.9626 47.6671 56.874 46.5629C53.888 43.5769 50.2955 41.8662 47.465 41.8662C46.0497 41.8662 44.8056 42.3327 44.0124 43.1259C41.353 45.7853 42.9082 51.4307 47.465 55.9875C50.4354 58.9735 54.0435 60.6842 56.874 60.6842C57.9782 60.6842 58.9113 60.3732 59.6889 59.9066V70.2488C58.9113 68.989 57.9626 67.9004 56.874 66.7962C53.888 63.8102 50.2955 62.0995 47.465 62.0995C46.0497 62.0995 44.8056 62.566 44.0124 63.3592C41.353 66.0186 42.9082 71.664 47.465 76.2208C50.4354 79.2068 54.0435 80.9331 56.874 80.9331C57.9782 80.9331 58.9113 80.622 59.6889 80.1554V89.0979C59.6889 89.5645 60.1555 90.0466 60.6376 90.0466C61.1197 90.0466 61.5707 89.58 61.5707 89.0979V80.311C62.3483 80.7775 63.297 81.0886 64.4012 81.0886C67.2161 81.0886 70.8242 79.2068 73.8102 76.3918C78.3514 71.8506 79.9222 66.2052 77.2628 63.5303C76.4852 62.7526 75.2255 62.2705 73.8102 62.2705C70.9953 62.2705 67.3872 64.1523 64.4012 66.9673C63.297 68.0715 62.3639 69.3156 61.5707 70.5754V60.0621C62.3483 60.5287 63.297 60.8397 64.4012 60.8397C67.2161 60.8397 70.8242 58.9579 73.8102 56.1275C75.8476 54.0901 77.4183 51.5862 78.1959 49.2223C78.9735 46.7184 78.6625 44.5256 77.2472 43.2659C76.4696 42.4883 75.2099 42.0061 73.7947 42.0061C70.9797 42.0061 67.3717 43.888 64.3857 46.7029C63.2815 47.8071 62.3483 49.0512 61.5552 50.311V39.7978C62.3328 40.2643 63.2815 40.5754 64.3857 40.5754L64.4012 40.6065Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_26_1426'%3E%3Crect width='78.6159' height='90' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.biz .list ul li.biz05 a span::before {
   background-image: url("data:image/svg+xml,%3Csvg width='95' height='90' viewBox='0 0 95 90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.8' clip-path='url(%23clip0_86_1255)'%3E%3Cpath d='M76.581 82.6157H3.7018C1.7545 82.6157 0 84.1774 0 86.3175C0 88.4576 1.5617 90.0193 3.7018 90.0193H76.6003C78.5476 90.0193 80.3021 88.4576 80.3021 86.3175C80.3021 84.1774 78.5476 82.6157 76.6003 82.6157H76.581Z' fill='white'/%3E%3Cpath d='M43.3419 48.0076C42.5707 48.0076 41.7802 48.0076 40.8162 47.8148C39.0617 48.2004 37.1144 48.586 35.3792 48.586C30.135 48.586 25.2764 46.8315 21.189 43.3418H1.75452C2.33292 63.7595 19.0489 80.0899 39.6594 80.0899C60.2699 80.0899 76.7931 63.7595 77.3715 43.5539H58.7082C54.2352 46.4652 48.7982 48.0269 43.3612 48.0269L43.3419 48.0076ZM33.8175 70.951H31.8702C27.59 70.951 23.7147 69.5822 20.3985 66.8636C16.6967 63.7595 14.3831 59.4793 13.7854 54.6207C13.7854 54.0423 14.171 53.4446 14.9422 53.2518C15.5206 53.2518 16.1183 53.6374 16.3111 54.4086C16.6967 58.6888 18.8368 62.3714 21.9409 65.0899C25.2378 67.8084 29.3252 68.9845 33.6054 68.5989C34.1838 68.5989 34.7622 68.9845 34.9743 69.7557C34.7815 70.3341 34.3959 70.9125 33.8175 70.9125V70.951Z' fill='white'/%3E%3Cpath d='M77.3715 33.0464H67.4615C66.6903 35.5721 65.3214 37.7122 63.1813 39.8523C62.7957 40.2379 62.4101 40.6235 61.8124 41.0284H77.1594V33.0657H77.3522L77.3715 33.0464Z' fill='white'/%3E%3Cpath d='M15.7519 33.0464H1.75452V41.0091H18.8561C17.1016 38.6762 16.1375 35.7649 15.7519 33.0464Z' fill='white'/%3E%3Cpath d='M55.0064 25.8546C55.5848 25.469 56.3753 25.8546 56.5681 26.433C56.9537 27.0114 56.5681 27.8019 55.9897 27.9947C47.6414 32.2749 43.554 41.9922 42.1851 45.4819C49.3766 45.6747 56.3753 42.9562 61.4267 37.9047C65.8997 33.4317 66.4781 27.2042 66.8637 21.1888C67.0565 18.6631 67.2493 15.9446 67.8278 13.6117C59.2673 11.6644 50.1478 14.3829 43.9203 20.6104C41.5874 22.9433 39.6401 25.6618 38.4833 28.7659C40.6234 31.87 41.973 35.379 42.3779 39.2544C44.9036 34.5886 48.991 29.1515 55.0064 25.8353V25.8546Z' fill='white'/%3E%3Cpath d='M93.1041 47.4293C93.1041 42.3779 89.0167 38.2905 83.9652 38.2905C82.5964 38.2905 81.2467 38.6761 79.8778 39.2545V42.3586C79.8778 46.6389 79.2994 50.7263 77.9305 54.6016C79.685 55.9705 81.6131 56.7417 83.7532 56.7417C88.9974 56.7417 93.0848 52.4615 93.0848 47.4101L93.1041 47.4293Z' fill='white'/%3E%3Cpath d='M21.7673 40.6232C25.4498 44.325 30.3277 46.253 35.5719 46.253C36.7288 46.253 37.712 46.253 38.8689 46.0602C37.1144 43.7273 33.0462 38.8687 27.9755 35.5718C27.3971 35.1862 27.2043 34.415 27.5899 33.8173C27.9755 33.2389 28.766 33.0461 29.3444 33.4317C34.3959 36.7286 38.2905 41.2016 40.4306 43.7273C41.2018 37.9047 39.0617 31.87 34.9935 27.5898C31.2917 23.888 26.4331 21.96 21.1889 21.96C19.82 21.96 18.6632 22.1528 17.2943 22.3456C17.6799 24.1001 17.8727 26.0474 17.8727 27.9754C18.0655 32.4484 18.4511 37.307 21.7673 40.6039V40.6232Z' fill='white'/%3E%3Cpath d='M90 9.71722C92.7185 9.71722 94.8586 7.57712 94.8586 4.85861C94.8586 2.1401 92.7185 0 90 0C87.2815 0 85.1414 2.1401 85.1414 4.85861C85.1414 7.57712 87.2815 9.71722 90 9.71722Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_86_1255'%3E%3Crect width='94.8586' height='90' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.biz .list ul li.biz06 a span::before {
   background-image: url("data:image/svg+xml,%3Csvg width='87' height='90' viewBox='0 0 87 90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.8' clip-path='url(%23clip0_26_1398)'%3E%3Cpath d='M40.3028 0C22.4479 0 7.7439 14.5879 7.7439 32.3017C7.91633 48.4448 19.7673 62.084 35.5687 64.4479V48.2893L26.8685 40.14C25.3009 38.5692 25.3009 36.2208 26.7118 34.6501C27.5113 33.8725 28.4518 33.3904 29.5648 33.3904C30.5054 33.3904 31.6183 33.7169 32.2454 34.4946L35.4119 37.4806V32.4572C35.4119 29.7823 37.6222 27.5894 40.3028 27.5894C42.9834 27.5894 45.2094 29.7823 45.2094 32.4572V46.563L55.6339 36.5319C56.4334 35.9098 57.3739 35.4277 58.3301 35.4277C59.4275 35.4277 60.3837 35.9098 61.1675 36.6874C61.9513 37.465 62.2805 38.4137 62.2805 39.5179C62.2805 40.6221 61.8102 41.5552 61.0107 42.1773L45.2094 57.3872V64.2924C61.0107 61.9285 72.8617 48.2893 72.8617 32.3017C72.8617 14.4168 58.1734 0 40.3028 0ZM18.8111 42.4883C17.7138 42.4883 16.7576 41.5552 16.7576 40.451C16.7576 39.3468 17.7138 38.4137 18.8111 38.4137C19.9084 38.4137 20.8647 39.3624 20.8647 40.451C20.8647 41.5397 19.9241 42.4883 18.8111 42.4883ZM26.7118 52.0529C26.7118 53.1571 25.7712 54.0902 24.6582 54.0902C23.5452 54.0902 22.6047 53.1571 22.6047 52.0529C22.6047 50.9487 23.5609 50.0155 24.6582 50.0155C25.7712 50.1711 26.7118 50.9642 26.7118 52.0529ZM30.6621 28.5381C29.5648 28.5381 28.6086 27.5894 28.6086 26.5008C28.6086 25.4121 29.5648 24.4634 30.6621 24.4634C31.7594 24.4634 32.7157 25.3966 32.7157 26.5008C32.7157 27.605 31.7751 28.5381 30.6621 28.5381ZM32.5589 16.7807C31.4616 16.7807 30.5054 15.832 30.5054 14.7434C30.5054 13.6547 31.4616 12.7061 32.5589 12.7061C33.6562 12.7061 34.6125 13.6392 34.6125 14.7434C34.6125 15.8476 33.6719 16.7807 32.5589 16.7807ZM40.4596 7.99378C27.9815 7.99378 17.7138 18.0249 17.7138 30.5754C17.7138 31.042 17.2278 31.5086 16.7576 31.5086C16.2873 31.5086 15.817 31.042 15.817 30.5754C15.817 17.0918 26.8685 6.11197 40.4596 6.11197C40.9455 6.11197 41.4158 6.57854 41.4158 7.06065C41.4158 7.54277 40.9455 7.99378 40.4596 7.99378ZM52.0127 26.5008C50.8998 26.1897 50.2727 25.2411 50.5862 24.1524C50.8998 23.0482 51.8403 22.4261 52.9533 22.7372C53.9095 23.0482 54.5366 23.9969 54.3798 25.0855C54.0663 26.1897 53.1101 26.8118 52.0127 26.5008ZM52.3263 15.0544C51.2133 15.0544 50.2727 14.1058 50.2727 13.0171C50.2727 11.9285 51.2133 10.9798 52.3263 10.9798C53.4393 10.9798 54.3798 11.9129 54.3798 13.0171C54.3798 14.1213 53.4236 15.0544 52.3263 15.0544ZM63.707 32.3017C62.7508 32.1462 62.1237 31.042 62.2805 29.9533C62.594 28.8491 63.5502 28.2271 64.6476 28.5381C65.7605 28.8491 66.3876 29.7823 66.0741 30.8865C65.7605 31.9907 64.8043 32.6127 63.707 32.3017Z' fill='white'/%3E%3Cpath d='M34.6125 14.7434C34.6125 15.832 33.6719 16.7807 32.5589 16.7807C31.4459 16.7807 30.5054 15.832 30.5054 14.7434C30.5054 13.6547 31.4616 12.7061 32.5589 12.7061C33.6562 12.7061 34.6125 13.6392 34.6125 14.7434Z' fill='white'/%3E%3Cpath d='M52.3263 15.0546C53.4604 15.0546 54.3798 14.1425 54.3798 13.0173C54.3798 11.8921 53.4604 10.98 52.3263 10.98C51.1921 10.98 50.2727 11.8921 50.2727 13.0173C50.2727 14.1425 51.1921 15.0546 52.3263 15.0546Z' fill='white'/%3E%3Cpath d='M66.074 30.8864C65.7605 31.9906 64.8043 32.6126 63.707 32.3016C62.7507 32.1461 62.1237 31.0419 62.2805 29.9532C62.594 28.849 63.5502 28.227 64.6475 28.538C65.7605 28.849 66.3876 29.7822 66.074 30.8864Z' fill='white'/%3E%3Cpath d='M54.3798 25.0856C54.0663 26.1898 53.1101 26.8119 52.0127 26.5008C50.8998 26.1898 50.2727 25.2411 50.5862 24.1525C50.8998 23.0483 51.8403 22.4262 52.9533 22.7372C53.9095 23.0483 54.5366 23.9969 54.3798 25.0856Z' fill='white'/%3E%3Cpath d='M30.6622 28.538C31.7963 28.538 32.7157 27.6259 32.7157 26.5007C32.7157 25.3755 31.7963 24.4634 30.6622 24.4634C29.528 24.4634 28.6086 25.3755 28.6086 26.5007C28.6086 27.6259 29.528 28.538 30.6622 28.538Z' fill='white'/%3E%3Cpath d='M26.7118 52.053C26.7118 53.1572 25.7713 54.0903 24.6583 54.0903C23.5453 54.0903 22.6047 53.1572 22.6047 52.053C22.6047 50.9488 23.561 50.0156 24.6583 50.0156C25.7713 50.1711 26.7118 50.9643 26.7118 52.053Z' fill='white'/%3E%3Cpath d='M18.8111 42.4882C19.9453 42.4882 20.8647 41.5761 20.8647 40.4509C20.8647 39.3257 19.9453 38.4136 18.8111 38.4136C17.677 38.4136 16.7576 39.3257 16.7576 40.4509C16.7576 41.5761 17.677 42.4882 18.8111 42.4882Z' fill='white'/%3E%3Cpath d='M82.0321 88.1182H43.4693V57.0762C43.4693 56.7651 43.6261 56.6096 43.7828 56.4541L59.8977 40.9331C60.2112 40.622 60.5247 40.1555 60.5247 39.5178C60.5247 39.0513 60.368 38.4136 60.0545 38.1026C59.741 37.636 59.1139 37.4805 58.628 37.4805C58.142 37.4805 57.6874 37.636 57.2015 37.9471L45.1937 49.549C44.8802 49.86 44.5666 49.86 44.0807 49.7045C43.7672 49.5489 43.4536 49.2379 43.4536 48.7713V32.4572C43.4536 30.8864 42.1839 29.4712 40.4439 29.4712C38.8606 29.4712 37.4341 30.7309 37.4341 32.4572V39.8289C37.4341 40.2955 37.2773 40.6065 36.8071 40.762C36.4935 40.9175 36.0233 40.9175 35.6941 40.6065L30.8032 36.0653C30.4896 35.7542 30.0194 35.5987 29.3767 35.5987C28.9064 35.5987 28.2637 35.7542 27.9501 36.2208C27.1664 36.9984 27.1664 38.2581 27.9501 39.0513L36.9638 47.5116C37.1206 47.6671 37.2773 47.9782 37.2773 48.2892V88.1182H26.3669C25.8966 88.1182 25.4106 88.5847 25.4106 89.0668C25.4106 89.5489 25.8809 90 26.3669 90H81.6873C82.1575 90 82.6435 89.5334 82.6435 89.0668C82.6435 88.6003 82.4867 88.1182 82.0165 88.1182H82.0321Z' fill='white'/%3E%3Cpath d='M85.9826 82.3174H66.2309C65.7606 82.3174 65.2747 82.7839 65.2747 83.2661C65.2747 83.7482 65.7449 84.1992 66.2309 84.1992H85.9826C86.4528 84.1992 86.9231 83.7326 86.9231 83.2661C86.9231 82.7995 86.4528 82.3174 85.9826 82.3174Z' fill='white'/%3E%3Cpath d='M24.6582 82.3174H0.956232C0.485954 82.3174 0 82.7839 0 83.2661C0 83.7482 0.470278 84.1992 0.956232 84.1992H24.6582C25.1285 84.1992 25.6145 83.7326 25.6145 83.2661C25.6145 82.7995 25.301 82.3174 24.6582 82.3174Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_26_1398'%3E%3Crect width='86.9231' height='90' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.biz .list ul li a::after {
   position: absolute;
   right: 10%;
   bottom: 30px;
   width: 35px;
   height: 35px;
   border: 1px solid rgba(255, 255, 255, 0.6);
   border-radius: 100%;
   content: "";
   background-repeat: no-repeat;
   background-position: center center;
   background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.6'%3E%3Cpath d='M13.6717 12.5007L8.72192 7.55093L10.1361 6.13672L16.5001 12.5007L10.1361 18.8646L8.72192 17.4504L13.6717 12.5007Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1630px){
   .biz .tit h2 {
      font-size: 50px;
   }
   .biz .list ul li {
      height: 180px;
   }
   .biz .list ul li a {
      height: 180px;
      padding: 112px 0 30px 35px;
      font-size: 25px;
   }
   .biz .list ul li a::after {
      transform: scale(0.8);
   }
   .biz .list ul li a span::before {
      transform: scale(0.8);
      bottom: 32px;
   }
}
@media screen and (max-width:1320px){
   .biz .tit {
      width: 40%;
      margin-right: 20px;
   }
   .biz .tit h2 {
      font-size: 45px;
   }
   .biz .list {
      padding-right: 30px;
   }
   .biz .list ul li {
      height: 150px;
   }
   .biz .list ul li a {
      height: 150px;
      padding: 112px 0 30px 35px;
      font-size: 20px;
   }
   .biz .list ul li a span::before {
      transform: scale(0.8);
      bottom: 32px;
   }
}
@media screen and (max-width:1024px){
   .biz .tit h2 {
      font-size: 35px;
   }
   .biz .list ul {
      justify-content: center;
   }
   .biz .list ul li {
      width: calc(40% - 10px);
      height: 120px;
      margin: 10px 10px;
   }
   .biz .list ul li a {
      height: 120px;
      padding: 80px 0 40px 25px;
      font-size: 20px;
   }
   .biz .list ul li a::after {
      transform: scale(0.6);
      bottom: 10px;
      right: 5%;
   }
   .biz .list ul li a span::before {
      transform: scale(0.6);
      left: -13px;
      bottom: 14px;
   }

}
@media screen and (max-width:768px){
   .biz {
      min-height: auto !important;
   }
   .biz .inner {
      display: block;
   }
   .biz .tit {
      width: 100%;
      text-align: center;
   }
   .biz .tit p {
      display: none;
   }
   .biz .list {
      margin: 30px 0 0 0;
      width: 100%;
      padding: 0;
   }
   .biz .list ul {
      justify-content: center;
   }
   .biz .list ul li {
      width: calc(40% - 10px);
      height: 110px;
   }
   .biz .list ul li a {
      height: 110px;
      padding: 73px 0 40px 25px;
      font-size: 20px;
   }
   .biz .list ul li a::after {
      transform: scale(0.6);
      bottom: 10px;
      right: 5%;
   }
   .biz .list ul li a span::before {
      transform: scale(0.5);
      left: -13px;
      bottom: 14px;
   }
   .biz .list ul li:nth-child(odd) {
      transform: translate(0,0);
   }
}
@media screen and (max-width:500px){
   .biz .tit {
      width: 100%;
      margin: 50px 0 0 0;
   }
   .biz .tit h2 {
      font-size: 30px;
   }
   .biz .list {
      width: calc(100% - 20px);
      min-width: auto;
      margin-bottom: 50px;
   }
   .biz .list ul li a {
      font-size: 15px;
   }
   .biz .list ul li a::after {
      display: none;
   }
   .biz .list ul li a span::before {
      transform: scale(0.5);
      left: -21px;
      bottom: 7px;
   }
}

.news {
   background-color: #73CBD1;
}
footer {
   height: 500px;
   background-color: #041F3D;
   color: #fff;
}
/***************** 
   page에서 자동생성한 pagenation 
   #fp-nav.fp-left 동일한 선택자 두개가 존재할때
   꼭 내거를 먼저 적용되게 하기 위해서
   앞에 body를 추가함
   body라는 상위요소부터 선택자를 입력한 스타일이 먼저 적용됨
*******************/
body #fp-nav.fp-left {
   left: 34px;
}
body #fp-nav ul li .fp-tooltip {
   color: rgba(255, 255, 255, 0.6);
   font-size: 15px;
   font-family: inherit;
   opacity: 1;
   width: auto;
}
body #fp-nav ul li a span, body .fp-slidesNav ul li a span {
   height: 5px;
   width: 5px;
   border: 0;
   background: rgba(255, 255, 255, 0.6);
   margin: -2px 0 0 -2px;
  }
  body #fp-nav ul li a.active span, 
  body .fp-slidesNav ul li a.active span, 
  body #fp-nav ul li:hover a.active span, 
  body .fp-slidesNav ul li:hover a.active span {
   height: 5px;
   width: 5px;
   margin: -2px 0 0 -2px;
   background: #fff;
}
body #fp-nav ul li:last-child { /* footer 동그라미 삭제 */
   display: none;
}
body #fp-nav ul li, body .fp-slidesNav ul li {
   margin: 25px 7px;
}
body #fp-nav ul li:hover .fp-tooltip, body #fp-nav.fp-show-active a.active + .fp-tooltip {
   color: #fff;
   border: 1px solid #fff;
   border-radius: 15px;
   line-height: 30px;
   font-weight: 700;
   width: 110px;
   top: -9px;
   padding-left: 28px;
   margin-left: -28px;
}

/* 검은색일때 */
body #fp-nav[data-color='black'] ul li .fp-tooltip {
   color: rgba(102, 102, 102, 0.6);
}
body #fp-nav[data-color='black'] ul li a span, 
body .fp-slidesNav ul li a span {
   background: rgba(102, 102, 102, 0.6);
  }
  body #fp-nav[data-color='black'] ul li a.active span, 
  body .fp-slidesNav ul li a.active span, 
  body #fp-nav[data-color='black'] ul li:hover a.active span, 
  body .fp-slidesNav ul li:hover a.active span {
   background: #666;
}
body #fp-nav[data-color='black'] ul li:hover .fp-tooltip, 
body #fp-nav[data-color='black'].fp-show-active a.active + .fp-tooltip {
   color: #666;
   border: 1px solid #666;
}
@media screen and (max-width:1550px){
   body #fp-nav.fp-left {
      left: 10px;
   }
}
@media screen and (max-width:1320px){
   body #fp-nav ul li .fp-tooltip {
      font-size: 14px;
   }
   body #fp-nav ul li:hover .fp-tooltip, body #fp-nav.fp-show-active a.active + .fp-tooltip {
      width: 105px;
      padding-left: 25px;
   }
}
@media screen and (max-width:1024px){
   body #fp-nav.fp-left {
      display: none;
   }
}