*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
}
body {
    font-family: 'Malgun Gothic', '맑은고딕';
    font-size: 15px;
    color: #333333;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 100;
}
.header .gnb .depth1 {
    display: flex;
}
.header .gnb .depth1 > li {
    width: 150px;
    text-align: center;
}
.header .gnb .depth1 > li > a {
    line-height: 100px;
    display: block;
    font-size: 20px;
    font-weight: 700;
}
.header .gnb .depth1 > li.on > a  {
    background-color: #0066ad;
    color: #fff;
}
.header .gnb .depth2 {
    background-color: #30a3f3;
    color: #fff;
    display: none;
}
.header .gnb .on .depth2 {
    display: block;
}
.header .gnb .depth2 > li > a {
    display: block;
    line-height: 40px;
}
.header .gnb .depth2 > li > a:hover {
    background-color: #0066ad;
}
.visual {
    height: 300px;
    position: relative;
    overflow: hidden;
}
.visual ul {
    display: flex;
    width: 3600px;
    position: absolute;
    left: 0;
    top: 0;
}
.container {
    margin-top: 30px;
    display: flex;
}
.container .board {
    width: 400px;
    height: 170px;
    position: relative;
}
.container .board .list {
    display: flex;
}

.container .board .list > li button {
    border: 0;
    background-color: #ededed;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
    cursor: pointer;
}
.container .board .list > li.on button {
    background-color: #0066ad;
}
.container .board .list > li .detail {
    display: none;
}
.container .board .list > li.on .detail {
    display: block;
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
}
.container .board .notice ul li a {
    display: flex;
    justify-content: space-between;
    line-height: 28px;
}
.container .board .notice ul li a span {
    color: #666;
}
.container .board .gallery ul {
    display: flex;
    justify-content: space-around;
}
.container .board .gallery ul li a:hover img {
    opacity: 0.5;
}
.container .banner {
    margin: 0 30px;
}
.layer_popup {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    background-color: #0066ad;
    color: #fff;
    transform: translate(-50%, -50%);
    padding: 20px;
    display: none;
}
.layer_popup h2 {
    font-size: 25px;
}
.layer_popup p {
    margin: 20px 0;
}
.layer_popup .close {
    text-align: right;
}
.layer_popup .close button {
    border: 0;
    background-color: #fff;
    color: #333333;
    padding: 10px 20px;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 20px;
    height: 100px;
}
.footer .f_logo {
    margin: 0 20px;
}
.footer .f_nav {
    display: flex;
    margin: 20px 0 19px 0;

}
.footer .f_nav li {
    margin-right: 20px;
}