@charset "utf-8"; /* 이 css문서는 UTF-8방식으로 인코딩되어 있습니다. */
@import url(default.css);
/* 본고딕 CND방식으로 사용할때 폰트를 정의하는 font-face가 입력된 css를 
    import 불러다가 사용하는 방식을 많이 씀 
    이 방식은 간단하지만 google이 서비스를 중단하면 사용 못하는 문제. 
    - */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
html, body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px; 
    color: #3d3d3d;
    font-weight: 400;
    line-height: 1.4; 
    word-break: keep-all;
    /* letter-spacing: -0.05em; */
}
.wrapper { /* 홈페이지 넓이를 제한하고 가운데 정렬 */
    width: 1280px;
    margin: 0 auto; /* 가운데 정렬 */
}
#wrap { /* id="wrap"에 적용되는 스타일 */
    min-width: 1280px;  
    /* PC형에서 wrapper사이즈보다 브라우저 넓이가 작을때
        가로스크롤바가 생성되고, 오른쪽에 background가 짤리는 현상이 생김.
        가로스크롤바가 생성되었을 때에도 홈페이지를 정상적으로
        서비스 하기 위해서 최소 넓이를 입력*/
}
/* 640px 이하일 때 스타일 - 640 이하는 모바일 초과인 탭 */
@media screen and (max-width:640px){
    html, body {
        font-size: 13px; 
    }
    .wrapper { 
        width: auto;
        /* 모바일에서는 홈페이지의 넓이를 제한하면 안됨
            디바이스의 넓이에 맞춰서 꽉차게 나와야 하기 때문에
            그 안쪽으로 좌우 여백이 20px씩 들어가게 함.  */
        margin: 0 20px; 
    }
    #wrap { 
        min-width:auto;  /* 홈페이지의 최소넓이 제한하지 않음 */
    }
}/*media*/

.header {
    /* body를 기준으로 정렬 */
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100; /* header를 맨 위에 배치하기 위해 (다른요소에 가려서 안보일까봐) */
    width: 100%;
    height: 100px;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.header .logo {
    float: left;
    margin-top: 22px;
}
.header .logo a {
    width: 160px;
    height: 53px;
    display: block;
    /* 배경의 로고크기는 pc/mobile에서 사이즈가 다름
        물론 background-size를 width와 높이값으로 수정 가능
        하지만 a태그에 준 넓이와 높이값에 맞게 background-size가 자동으로 조절되었으면 함. 
        contain - 이미지를 자르지 않고 영역에 딱 맞게 조절 
        100% auto - 가로는 영역 딱맞게, 세로는 가로비율에 맞게 */
    background: url(../images/logo_w.svg) no-repeat center center / contain;
    /* a태그에 써준 글자를 안보이게 하는 방법 (font-size와 line-height를 같이 줌) */
    font-size: 0;
    line-height: 0;
}
.header .inner {
    float: right;
    display: flex;
    align-items: center;
    /* display:flex는 좌우로 배치된 요소의 높이를 제일 긴 사이즈와 동일하게 모든 높이를 맞춤 
        이를 원래 요소별 높이로 주고싶으면 aline-items를 줘야함 */
}
/* 모바일에서 사용할 메뉴 열기 버튼 - pc 버전에서는 숨김 처리 */
.header .gnb .gnb_open {
    display: none; /* 태그를 지운 것처럼 공간을 차지하지 않음 */
}
.header .gnb ul {
    display: flex;
}
.header .gnb ul li a {
    font-size: 22px;
    font-weight: 700;
    padding:  34px 25px;
    display: block;
}
.header .login {
    width: 22px;
    height: 22px;
    background: url(../images/login_w.svg) no-repeat center center;
    font-size: 0;
    line-height: 0;
    margin: 0 10px 0 27px;
}
.header .lang {
    width: 22px;
    height: 22px;
    background: url(../images/lang_w.svg) no-repeat center center;
    font-size: 0;
    line-height: 0;
}
@media screen and (max-width:640px){
    .header {
        height: 50px;
    }
    .header .logo {
        margin-top: 12px;
    }
    .header .logo a {
        width: 78px;
        height: 27px;
    }
    /* 모바일에서 사용할 메뉴 열기 버튼 - pc 버전에서는 숨김 처리 - 모바일에서는 보이도록 */
    .header .gnb .gnb_open {
        display: block; /* display:none; 으로 숨긴 요소 나타나게 */
        width: 20px;
        height: 20px;
        background: url(../images/gnb_open_w.svg) no-repeat center center;
        margin: 16px;
        font-size: 0;
        line-height: 0;
    }
    .header .gnb ul {
        display: none;
        /* 모바일에서 메뉴는 메뉴열기 버튼을 클릭하면 나타남 */
    }
    .header .login {
        display: none;
    }
    .header .lang {
        display: none;
    }
}/*media*/

.visual {
    /* background 사이즈 조절
        cover는 영역에 이미지가 꽉차게 (빈곳없이) 나타나는 명령 - 이미지 일부가 짤리고 배경은 꽉참 (배경에 이미지)
        contain은 영역에 이미지가 꽉차게 (빈곳이 있음) - 이미지가 안짤리고 배경 일부가 빔 (배경에 로고 들어간 경우) */
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    color: #fff;
    text-align: center;
}
.visual .inner {
    display: flex;
    flex-direction: column; /* 세로배치 */
    justify-content: center; /* 세로에서 가운데 */
    height: 100vh; /* 브라우저 높이와 동일한 높이 */
    min-height: 600px; /* 내부에 콘텐츠가 짤리지 않을 정도의 최소 높이값을 줘야함 */
}
/* visual의 높이가 브라우저의 높이에 따라서 바뀜
    그래서 h2태그가 위에서부터의 여백이 그때그때 달라짐 -> 고정값으로 줄 수가 없음
    사이즈가 변경될 때 가운데는 바뀌지 않음 
    h2태그는 원래 디자인 자체가 visual영역의 위아래 가운데 디자인 
    - 코딩도 위아래 가운데에서부터 시작해서 여백을 줘야 함 */
.visual h2 {
    font-size: 80px;
    font-weight: 700;
    line-height: 1.1;
    margin-top: -150px;
}
.visual h2 strong {
    font-size: 55px;
}
.visual p {
    font-size: 18px;
    margin-top: 20px;
}
@media screen and (max-width:640px) {
    .visual .inner {
    height: 320px;
    min-height: auto; /* 높이값을 줬다가 취소하는 것은 auto */
    }
    .visual h2 {
        font-size: 40px;
        margin-top: -66px;
    }
    .visual h2 strong {
        font-size: 27px;
    }
    .visual p {
        display: none;
    }
}/*media*/