@charset "utf-8"; /* 이 css문서는 UTF-8방식으로 인코딩되어 있습니다. */
@import url(default.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
html, body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px; 
    color: #3d3d3d;
    font-weight: 400;
    line-height: 1.4; 
    word-break: keep-all;
    /* letter-spacing: -0.05em; */
}
.wrapper { /* 홈페이지 넓이를 제한하고 가운데 정렬 */
    width: 1280px;
    margin: 0 auto; /* 가운데 정렬 */
}
#wrap { /* id="wrap"에 적용되는 스타일 */
    min-width: 1280px;  
    /* PC형에서 wrapper사이즈보다 브라우저 넓이가 작을때
        가로스크롤바가 생성되고, 오른쪽에 background가 짤리는 현상이 생김.
        가로스크롤바가 생성되었을 때에도 홈페이지를 정상적으로
        서비스 하기 위해서 최소 넓이를 입력*/
}